<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-beneficiarioServicio" var="msgBeneficiarioServicio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgBeneficiarioServicio['beneficiarioServicio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formBeneficiarioServicio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgBeneficiarioServicio['beneficiarioServicio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="servicio" value="#{msgBeneficiarioServicio.lblServicio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioServicioBeanView.baseDTO.servicioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="servicio" 
										title="#{msgBeneficiarioServicio.lblServicio}"
										required="true"
										requiredMessage="#{msgBeneficiarioServicio.msg_req_servicio}"
										disabled="#{beneficiarioServicioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgServicio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="servicio" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="beneficiario" value="#{msgBeneficiarioServicio.lblBeneficiario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioServicioBeanView.baseDTO.beneficiarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="beneficiario" 
										title="#{msgBeneficiarioServicio.lblBeneficiario}"
										required="true"
										requiredMessage="#{msgBeneficiarioServicio.msg_req_beneficiario}"
										disabled="#{beneficiarioServicioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgBeneficiario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="beneficiario" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{beneficiarioServicioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{beneficiarioServicioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtBeneficiarioServicio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!beneficiarioServicioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{beneficiarioServicioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtBeneficiarioServicio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{beneficiarioServicioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtBeneficiarioServicio" widgetVar="wvBeneficiarioServicioTable"
							var="beneficiarioServicio" value="#{beneficiarioServicioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtBeneficiarioServicio"
										fileName="beneficiarioServicio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtBeneficiarioServicio"
										fileName="beneficiarioServicio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtBeneficiarioServicio"
										fileName="beneficiarioServicio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtBeneficiarioServicio"
										fileName="beneficiarioServicio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:beneficiarioServicioDetail"
										oncomplete="PF('dlgBeneficiarioServicio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{beneficiarioServicio}"
											target="#{beneficiarioServicioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{beneficiarioServicioBeanView.actionModificarRegistro(beneficiarioServicio)}"
										update=":formBeneficiarioServicio:pgForm,:formBeneficiarioServicio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgBeneficiarioServicio.lbl_col_servicio}">
								<h:outputText value="#{beneficiarioServicio.servicioDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgBeneficiarioServicio.lbl_col_beneficiario}">
								<h:outputText value="#{beneficiarioServicio.beneficiarioDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogBeneficiarioServicio" header="#{msgBeneficiarioServicio.detailTitle}"
							widgetVar="dlgBeneficiarioServicio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="beneficiarioServicioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiarioServicio.lblServicio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioServicioBeanView.baseDTO.servicioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiarioServicio.lblBeneficiario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioServicioBeanView.baseDTO.beneficiarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogServicio" width="60%" 
							header="Servicio" widgetVar="dlgServicio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="servicioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioServicioBeanView.servicioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioServicioBeanView.baseDTO.servicioDTO}" />
									<ui:param name="update"
										value=":formBeneficiarioServicio:servicio" />
									<ui:param name="complete"
										value="PF('dlgServicio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogBeneficiario" width="60%" 
							header="Beneficiario" widgetVar="dlgBeneficiario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="beneficiarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioServicioBeanView.beneficiarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioServicioBeanView.baseDTO.beneficiarioDTO}" />
									<ui:param name="update"
										value=":formBeneficiarioServicio:beneficiario" />
									<ui:param name="complete"
										value="PF('dlgBeneficiario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>