<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-beneficiario" var="msgBeneficiario"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgBeneficiario['beneficiario-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formBeneficiario" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgBeneficiario['beneficiario-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgBeneficiario.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{beneficiarioBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgBeneficiario.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="areaEducacion" value="#{msgBeneficiario.lblAreaEducacion}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.areaEducacionDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="areaEducacion" 
										title="#{msgBeneficiario.lblAreaEducacion}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_areaEducacion}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgAreaEducacion').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="areaEducacion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estructuraFamiliar" value="#{msgBeneficiario.lblEstructuraFamiliar}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.estructuraFamiliarDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="estructuraFamiliar" 
										title="#{msgBeneficiario.lblEstructuraFamiliar}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_estructuraFamiliar}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEstructuraFamiliar').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="estructuraFamiliar" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estratoSocioeconomico" value="#{msgBeneficiario.lblEstratoSocioeconomico}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{beneficiarioBeanView.baseDTO.estratoSocioeconomico}" 
										styleClass="form-control input-sm"
										id="estratoSocioeconomico" 
										title="#{msgBeneficiario.lblEstratoSocioeconomico}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_estratoSocioeconomico}"
										>
									<f:selectItem itemLabel="#{msgBeneficiario.lblEstratoSocioeconomicoSelect}"
											itemValue="" />
										<f:selectItems value="#{beneficiarioBeanView.estratoSocioeconomicoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estratoSocioeconomico" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estadoCivil" value="#{msgBeneficiario.lblEstadoCivil}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.estadoCivilDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="estadoCivil" 
										title="#{msgBeneficiario.lblEstadoCivil}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_estadoCivil}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEstadoCivil').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="estadoCivil" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="descIndependiente" value="#{msgBeneficiario.lblDescIndependiente}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.descIndependienteDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="descIndependiente" 
										title="#{msgBeneficiario.lblDescIndependiente}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_descIndependiente}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgDescIndependiente').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="descIndependiente" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nivelEducativo" value="#{msgBeneficiario.lblNivelEducativo}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.nivelEducativoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="nivelEducativo" 
										title="#{msgBeneficiario.lblNivelEducativo}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_nivelEducativo}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgNivelEducativo').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="nivelEducativo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="otraAreaEducacion" value="#{msgBeneficiario.lblOtraAreaEducacion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.otraAreaEducacion}" 
										styleClass="form-control input-sm"
										id="otraAreaEducacion" 
										title="#{msgBeneficiario.lblOtraAreaEducacion}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_otraAreaEducacion}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="otraAreaEducacion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoVivienda" value="#{msgBeneficiario.lblTipoVivienda}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.tipoViviendaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="tipoVivienda" 
										title="#{msgBeneficiario.lblTipoVivienda}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_tipoVivienda}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTipoVivienda').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="tipoVivienda" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="cantPersonasHogar" value="#{msgBeneficiario.lblCantPersonasHogar}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.cantPersonasHogar}" 
										styleClass="form-control input-sm"
										id="cantPersonasHogar" 
										title="#{msgBeneficiario.lblCantPersonasHogar}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_cantPersonasHogar}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="cantPersonasHogar" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="organizacionComunitaria" value="#{msgBeneficiario.lblOrganizacionComunitaria}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.organizacionComunitaria}" 
										styleClass="form-control input-sm"
										id="organizacionComunitaria" 
										title="#{msgBeneficiario.lblOrganizacionComunitaria}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_organizacionComunitaria}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="organizacionComunitaria" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nivelIngresos" value="#{msgBeneficiario.lblNivelIngresos}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.nivelIngresos}" 
										styleClass="form-control input-sm"
										id="nivelIngresos" 
										title="#{msgBeneficiario.lblNivelIngresos}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_nivelIngresos}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nivelIngresos" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="cantPersonasCargo" value="#{msgBeneficiario.lblCantPersonasCargo}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.cantPersonasCargo}" 
										styleClass="form-control input-sm"
										id="cantPersonasCargo" 
										title="#{msgBeneficiario.lblCantPersonasCargo}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_cantPersonasCargo}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="cantPersonasCargo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgBeneficiario.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgBeneficiario.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoTenencia" value="#{msgBeneficiario.lblTipoTenencia}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.tipoTenenciaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="tipoTenencia" 
										title="#{msgBeneficiario.lblTipoTenencia}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_tipoTenencia}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTipoTenencia').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="tipoTenencia" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="zona" value="#{msgBeneficiario.lblZona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.zonaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="zona" 
										title="#{msgBeneficiario.lblZona}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_zona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgZona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="zona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="materialVivienda" value="#{msgBeneficiario.lblMaterialVivienda}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.materialViviendaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="materialVivienda" 
										title="#{msgBeneficiario.lblMaterialVivienda}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_materialVivienda}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgMaterialVivienda').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="materialVivienda" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="bdNacional" value="#{msgBeneficiario.lblBdNacional}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.bdNacionalDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="bdNacional" 
										title="#{msgBeneficiario.lblBdNacional}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_bdNacional}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgBdNacional').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="bdNacional" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="afiliadoSalud" value="#{msgBeneficiario.lblAfiliadoSalud}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.afiliadoSaludDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="afiliadoSalud" 
										title="#{msgBeneficiario.lblAfiliadoSalud}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_afiliadoSalud}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgAfiliadoSalud').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="afiliadoSalud" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="persona" value="#{msgBeneficiario.lblPersona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.personaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="persona" 
										title="#{msgBeneficiario.lblPersona}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_persona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgPersona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="persona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="grupoEtnico" value="#{msgBeneficiario.lblGrupoEtnico}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.grupoEtnicoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="grupoEtnico" 
										title="#{msgBeneficiario.lblGrupoEtnico}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_grupoEtnico}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgGrupoEtnico').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="grupoEtnico" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="ocupacion" value="#{msgBeneficiario.lblOcupacion}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.ocupacionDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="ocupacion" 
										title="#{msgBeneficiario.lblOcupacion}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_ocupacion}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgOcupacion').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="ocupacion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="genero" value="#{msgBeneficiario.lblGenero}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.genero}" 
										styleClass="form-control input-sm"
										id="genero" 
										title="#{msgBeneficiario.lblGenero}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_genero}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="genero" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgBeneficiario.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{beneficiarioBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgBeneficiario.lblEstado}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgBeneficiario.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{beneficiarioBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgBeneficiario.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgBeneficiario.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgBeneficiario.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{beneficiarioBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgBeneficiario.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgBeneficiario.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{beneficiarioBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgBeneficiario.lblId}"
										required="true"
										requiredMessage="#{msgBeneficiario.msg_req_id}"
										disabled="#{beneficiarioBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="municipio" value="#{msgBeneficiario.lblMunicipio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{beneficiarioBeanView.baseDTO.municipioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="municipio" 
										title="#{msgBeneficiario.lblMunicipio}"
										required="false"
										requiredMessage="#{msgBeneficiario.msg_req_municipio}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgMunicipio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="municipio" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{beneficiarioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{beneficiarioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtBeneficiario">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!beneficiarioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{beneficiarioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtBeneficiario">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{beneficiarioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtBeneficiario" widgetVar="wvBeneficiarioTable"
							var="beneficiario" value="#{beneficiarioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtBeneficiario"
										fileName="beneficiario" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtBeneficiario"
										fileName="beneficiario" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtBeneficiario"
										fileName="beneficiario" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtBeneficiario"
										fileName="beneficiario" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:beneficiarioDetail"
										oncomplete="PF('dlgBeneficiario').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{beneficiario}"
											target="#{beneficiarioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{beneficiarioBeanView.actionModificarRegistro(beneficiario)}"
										update=":formBeneficiario:pgForm,:formBeneficiario:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgBeneficiario.lbl_col_estratoSocioeconomico}"
								filterBy="#{beneficiario.estratoSocioeconomicoDesc}"
								filterOptions="#{beneficiarioBeanView.estratoSocioeconomicoFilter}"
								sortBy="#{beneficiario.estratoSocioeconomico}">
								<h:outputText value="#{beneficiario.estratoSocioeconomico}" />
							</p:column>
							
							<p:column headerText="#{msgBeneficiario.lbl_col_cantPersonasHogar}"
								filterBy="#{beneficiario.cantPersonasHogar}" filterMatchMode="contains"
								sortBy="#{beneficiario.cantPersonasHogar}">
								<h:outputText value="#{beneficiario.cantPersonasHogar}" />
							</p:column>
							
							<p:column headerText="#{msgBeneficiario.lbl_col_organizacionComunitaria}"
								filterBy="#{beneficiario.organizacionComunitaria}" filterMatchMode="contains"
								sortBy="#{beneficiario.organizacionComunitaria}">
								<h:outputText value="#{beneficiario.organizacionComunitaria}" />
							</p:column>
							
							<p:column headerText="#{msgBeneficiario.lbl_col_cantPersonasCargo}"
								filterBy="#{beneficiario.cantPersonasCargo}" filterMatchMode="contains"
								sortBy="#{beneficiario.cantPersonasCargo}">
								<h:outputText value="#{beneficiario.cantPersonasCargo}" />
							</p:column>
							
							<p:column headerText="#{msgBeneficiario.lbl_col_persona}">
								<h:outputText value="#{beneficiario.personaDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgBeneficiario.lbl_col_estado}"
								filterBy="#{beneficiario.estadoDesc}"
								filterOptions="#{beneficiarioBeanView.estadoFilter}"
								sortBy="#{beneficiario.estado}">
								<h:outputText value="#{beneficiario.estado}" />
							</p:column>
							
							<p:column headerText="#{msgBeneficiario.lbl_col_id}"
								filterBy="#{beneficiario.id}" filterMatchMode="contains"
								sortBy="#{beneficiario.id}">
								<h:outputText value="#{beneficiario.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogBeneficiario" header="#{msgBeneficiario.detailTitle}"
							widgetVar="dlgBeneficiario" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="beneficiarioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblAreaEducacion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.areaEducacionDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblEstructuraFamiliar}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.estructuraFamiliarDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblEstratoSocioeconomico}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.estratoSocioeconomicoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblEstadoCivil}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.estadoCivilDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblDescIndependiente}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.descIndependienteDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblNivelEducativo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.nivelEducativoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblOtraAreaEducacion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.otraAreaEducacion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblTipoVivienda}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.tipoViviendaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblCantPersonasHogar}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.cantPersonasHogar}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblOrganizacionComunitaria}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.organizacionComunitaria}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblNivelIngresos}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.nivelIngresos}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblCantPersonasCargo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.cantPersonasCargo}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblTipoTenencia}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.tipoTenenciaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblZona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.zonaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblMaterialVivienda}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.materialViviendaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblBdNacional}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.bdNacionalDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblAfiliadoSalud}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.afiliadoSaludDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblPersona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.personaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblGrupoEtnico}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.grupoEtnicoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblOcupacion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.ocupacionDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblGenero}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.genero}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgBeneficiario.lblMunicipio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{beneficiarioBeanView.baseDTO.municipioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogAreaEducacion" width="60%" 
							header="AreaEducacion" widgetVar="dlgAreaEducacion"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="areaEducacionDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.areaEducacionLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.areaEducacionDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:areaEducacion" />
									<ui:param name="complete"
										value="PF('dlgAreaEducacion').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogEstructuraFamiliar" width="60%" 
							header="EstructuraFamiliar" widgetVar="dlgEstructuraFamiliar"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="estructuraFamiliarDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.estructuraFamiliarLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.estructuraFamiliarDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:estructuraFamiliar" />
									<ui:param name="complete"
										value="PF('dlgEstructuraFamiliar').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogEstadoCivil" width="60%" 
							header="EstadoCivil" widgetVar="dlgEstadoCivil"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="estadoCivilDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.estadoCivilLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.estadoCivilDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:estadoCivil" />
									<ui:param name="complete"
										value="PF('dlgEstadoCivil').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogDescIndependiente" width="60%" 
							header="DescIndependiente" widgetVar="dlgDescIndependiente"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="descIndependienteDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.descIndependienteLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.descIndependienteDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:descIndependiente" />
									<ui:param name="complete"
										value="PF('dlgDescIndependiente').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogNivelEducativo" width="60%" 
							header="NivelEducativo" widgetVar="dlgNivelEducativo"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="nivelEducativoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.nivelEducativoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.nivelEducativoDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:nivelEducativo" />
									<ui:param name="complete"
										value="PF('dlgNivelEducativo').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTipoVivienda" width="60%" 
							header="TipoVivienda" widgetVar="dlgTipoVivienda"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="tipoViviendaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.tipoViviendaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.tipoViviendaDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:tipoVivienda" />
									<ui:param name="complete"
										value="PF('dlgTipoVivienda').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTipoTenencia" width="60%" 
							header="TipoTenencia" widgetVar="dlgTipoTenencia"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="tipoTenenciaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.tipoTenenciaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.tipoTenenciaDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:tipoTenencia" />
									<ui:param name="complete"
										value="PF('dlgTipoTenencia').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogZona" width="60%" 
							header="Zona" widgetVar="dlgZona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="zonaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.zonaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.zonaDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:zona" />
									<ui:param name="complete"
										value="PF('dlgZona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogMaterialVivienda" width="60%" 
							header="MaterialVivienda" widgetVar="dlgMaterialVivienda"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="materialViviendaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.materialViviendaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.materialViviendaDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:materialVivienda" />
									<ui:param name="complete"
										value="PF('dlgMaterialVivienda').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogBdNacional" width="60%" 
							header="BdNacional" widgetVar="dlgBdNacional"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="bdNacionalDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.bdNacionalLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.bdNacionalDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:bdNacional" />
									<ui:param name="complete"
										value="PF('dlgBdNacional').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogAfiliadoSalud" width="60%" 
							header="AfiliadoSalud" widgetVar="dlgAfiliadoSalud"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="afiliadoSaludDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.afiliadoSaludLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.afiliadoSaludDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:afiliadoSalud" />
									<ui:param name="complete"
										value="PF('dlgAfiliadoSalud').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogPersona" width="60%" 
							header="Persona" widgetVar="dlgPersona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="personaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.personaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.personaDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:persona" />
									<ui:param name="complete"
										value="PF('dlgPersona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogGrupoEtnico" width="60%" 
							header="GrupoEtnico" widgetVar="dlgGrupoEtnico"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="grupoEtnicoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.grupoEtnicoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.grupoEtnicoDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:grupoEtnico" />
									<ui:param name="complete"
										value="PF('dlgGrupoEtnico').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogOcupacion" width="60%" 
							header="Ocupacion" widgetVar="dlgOcupacion"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="ocupacionDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.ocupacionLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.ocupacionDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:ocupacion" />
									<ui:param name="complete"
										value="PF('dlgOcupacion').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogMunicipio" width="60%" 
							header="Municipio" widgetVar="dlgMunicipio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="municipioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{beneficiarioBeanView.municipioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{beneficiarioBeanView.baseDTO.municipioDTO}" />
									<ui:param name="update"
										value=":formBeneficiario:municipio" />
									<ui:param name="complete"
										value="PF('dlgMunicipio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>