<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-datoContacto" var="msgDatoContacto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgDatoContacto['datoContacto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formDatoContacto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgDatoContacto['datoContacto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgDatoContacto.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{datoContactoBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgDatoContacto.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgDatoContacto.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgDatoContacto.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{datoContactoBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgDatoContacto.lblEstado}"
										required="true"
										requiredMessage="#{msgDatoContacto.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgDatoContacto.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{datoContactoBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgDatoContacto.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoContactoBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgDatoContacto.lblValor}"
										required="true"
										requiredMessage="#{msgDatoContacto.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgDatoContacto.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoContactoBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgDatoContacto.lblId}"
										required="true"
										requiredMessage="#{msgDatoContacto.msg_req_id}"
										disabled="#{datoContactoBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgDatoContacto.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoContactoBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgDatoContacto.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgDatoContacto.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="persona" value="#{msgDatoContacto.lblPersona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{datoContactoBeanView.baseDTO.personaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="persona" 
										title="#{msgDatoContacto.lblPersona}"
										required="true"
										requiredMessage="#{msgDatoContacto.msg_req_persona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgPersona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="persona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgDatoContacto.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoContactoBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgDatoContacto.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgDatoContacto.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgDatoContacto.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{datoContactoBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgDatoContacto.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgDatoContacto.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoContacto" value="#{msgDatoContacto.lblTipoContacto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{datoContactoBeanView.baseDTO.tipoContactoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="tipoContacto" 
										title="#{msgDatoContacto.lblTipoContacto}"
										required="false"
										requiredMessage="#{msgDatoContacto.msg_req_tipoContacto}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTipoContacto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="tipoContacto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{datoContactoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{datoContactoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtDatoContacto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!datoContactoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{datoContactoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtDatoContacto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{datoContactoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtDatoContacto" widgetVar="wvDatoContactoTable"
							var="datoContacto" value="#{datoContactoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtDatoContacto"
										fileName="datoContacto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtDatoContacto"
										fileName="datoContacto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtDatoContacto"
										fileName="datoContacto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtDatoContacto"
										fileName="datoContacto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:datoContactoDetail"
										oncomplete="PF('dlgDatoContacto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{datoContacto}"
											target="#{datoContactoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{datoContactoBeanView.actionModificarRegistro(datoContacto)}"
										update=":formDatoContacto:pgForm,:formDatoContacto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgDatoContacto.lbl_col_estado}"
								filterBy="#{datoContacto.estadoDesc}"
								filterOptions="#{datoContactoBeanView.estadoFilter}"
								sortBy="#{datoContacto.estado}">
								<h:outputText value="#{datoContacto.estado}" />
							</p:column>
							
							<p:column headerText="#{msgDatoContacto.lbl_col_valor}"
								filterBy="#{datoContacto.valor}" filterMatchMode="contains"
								sortBy="#{datoContacto.valor}">
								<h:outputText value="#{datoContacto.valor}" />
							</p:column>
							
							<p:column headerText="#{msgDatoContacto.lbl_col_id}"
								filterBy="#{datoContacto.id}" filterMatchMode="contains"
								sortBy="#{datoContacto.id}">
								<h:outputText value="#{datoContacto.id}" />
							</p:column>
							
							<p:column headerText="#{msgDatoContacto.lbl_col_persona}"
								filterBy="#{datoContacto.persona.valor}"
								filterMatchMode="contains"
								sortBy="#{datoContacto.persona.valor}">
								<h:outputText value="#{datoContacto.personaDTO.baseDescription}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogDatoContacto" header="#{msgDatoContacto.detailTitle}"
							widgetVar="dlgDatoContacto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="datoContactoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblPersona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.personaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoContacto.lblTipoContacto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoContactoBeanView.baseDTO.tipoContactoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogPersona" width="60%" 
							header="Persona" widgetVar="dlgPersona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="personaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{datoContactoBeanView.personaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{datoContactoBeanView.baseDTO.personaDTO}" />
									<ui:param name="update"
										value=":formDatoContacto:persona" />
									<ui:param name="complete"
										value="PF('dlgPersona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTipoContacto" width="60%" 
							header="TipoContacto" widgetVar="dlgTipoContacto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="tipoContactoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{datoContactoBeanView.tipoContactoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{datoContactoBeanView.baseDTO.tipoContactoDTO}" />
									<ui:param name="update"
										value=":formDatoContacto:tipoContacto" />
									<ui:param name="complete"
										value="PF('dlgTipoContacto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>