<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-documentoAdjunto" var="msgDocumentoAdjunto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgDocumentoAdjunto['documentoAdjunto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formDocumentoAdjunto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgDocumentoAdjunto['documentoAdjunto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgDocumentoAdjunto.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{documentoAdjuntoBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgDocumentoAdjunto.lblNombre}"
										required="true"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgDocumentoAdjunto.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{documentoAdjuntoBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgDocumentoAdjunto.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgDocumentoAdjunto.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{documentoAdjuntoBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgDocumentoAdjunto.lblEstado}"
										required="true"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgDocumentoAdjunto.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{documentoAdjuntoBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgDocumentoAdjunto.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{documentoAdjuntoBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgDocumentoAdjunto.lblId}"
										required="true"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_id}"
										disabled="#{documentoAdjuntoBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgDocumentoAdjunto.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{documentoAdjuntoBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgDocumentoAdjunto.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="descripcion" value="#{msgDocumentoAdjunto.lblDescripcion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{documentoAdjuntoBeanView.baseDTO.descripcion}" 
										styleClass="form-control input-sm"
										id="descripcion" 
										title="#{msgDocumentoAdjunto.lblDescripcion}"
										required="true"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_descripcion}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="descripcion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgDocumentoAdjunto.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{documentoAdjuntoBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgDocumentoAdjunto.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgDocumentoAdjunto.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{documentoAdjuntoBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgDocumentoAdjunto.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyecto" value="#{msgDocumentoAdjunto.lblProyecto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{documentoAdjuntoBeanView.baseDTO.proyectoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyecto" 
										title="#{msgDocumentoAdjunto.lblProyecto}"
										required="true"
										requiredMessage="#{msgDocumentoAdjunto.msg_req_proyecto}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyecto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyecto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{documentoAdjuntoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{documentoAdjuntoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtDocumentoAdjunto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!documentoAdjuntoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{documentoAdjuntoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtDocumentoAdjunto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{documentoAdjuntoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtDocumentoAdjunto" widgetVar="wvDocumentoAdjuntoTable"
							var="documentoAdjunto" value="#{documentoAdjuntoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtDocumentoAdjunto"
										fileName="documentoAdjunto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtDocumentoAdjunto"
										fileName="documentoAdjunto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtDocumentoAdjunto"
										fileName="documentoAdjunto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtDocumentoAdjunto"
										fileName="documentoAdjunto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:documentoAdjuntoDetail"
										oncomplete="PF('dlgDocumentoAdjunto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{documentoAdjunto}"
											target="#{documentoAdjuntoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{documentoAdjuntoBeanView.actionModificarRegistro(documentoAdjunto)}"
										update=":formDocumentoAdjunto:pgForm,:formDocumentoAdjunto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgDocumentoAdjunto.lbl_col_nombre}"
								filterBy="#{documentoAdjunto.nombre}" filterMatchMode="contains"
								sortBy="#{documentoAdjunto.nombre}">
								<h:outputText value="#{documentoAdjunto.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgDocumentoAdjunto.lbl_col_estado}"
								filterBy="#{documentoAdjunto.estadoDesc}"
								filterOptions="#{documentoAdjuntoBeanView.estadoFilter}"
								sortBy="#{documentoAdjunto.estado}">
								<h:outputText value="#{documentoAdjunto.estado}" />
							</p:column>
							
							<p:column headerText="#{msgDocumentoAdjunto.lbl_col_id}"
								filterBy="#{documentoAdjunto.id}" filterMatchMode="contains"
								sortBy="#{documentoAdjunto.id}">
								<h:outputText value="#{documentoAdjunto.id}" />
							</p:column>
							
							<p:column headerText="#{msgDocumentoAdjunto.lbl_col_descripcion}"
								filterBy="#{documentoAdjunto.descripcion}" filterMatchMode="contains"
								sortBy="#{documentoAdjunto.descripcion}">
								<h:outputText value="#{documentoAdjunto.descripcion}" />
							</p:column>
							
							<p:column headerText="#{msgDocumentoAdjunto.lbl_col_proyecto}"
								filterBy="#{documentoAdjunto.proyecto.nombre}"
								filterMatchMode="contains"
								sortBy="#{documentoAdjunto.proyecto.nombre}">
								<h:outputText value="#{documentoAdjunto.proyectoDTO.baseDescription}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogDocumentoAdjunto" header="#{msgDocumentoAdjunto.detailTitle}"
							widgetVar="dlgDocumentoAdjunto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="documentoAdjuntoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblDescripcion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.descripcion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDocumentoAdjunto.lblProyecto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{documentoAdjuntoBeanView.baseDTO.proyectoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogProyecto" width="60%" 
							header="Proyecto" widgetVar="dlgProyecto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{documentoAdjuntoBeanView.proyectoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{documentoAdjuntoBeanView.baseDTO.proyectoDTO}" />
									<ui:param name="update"
										value=":formDocumentoAdjunto:proyecto" />
									<ui:param name="complete"
										value="PF('dlgProyecto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>