<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-entidadLinea" var="msgEntidadLinea"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgEntidadLinea['entidadLinea-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formEntidadLinea" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgEntidadLinea['entidadLinea-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="lineaIntervencion" value="#{msgEntidadLinea.lblLineaIntervencion}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadLineaBeanView.baseDTO.lineaIntervencionDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="lineaIntervencion" 
										title="#{msgEntidadLinea.lblLineaIntervencion}"
										required="true"
										requiredMessage="#{msgEntidadLinea.msg_req_lineaIntervencion}"
										disabled="#{entidadLineaBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgLineaIntervencion').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="lineaIntervencion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="entidad" value="#{msgEntidadLinea.lblEntidad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadLineaBeanView.baseDTO.entidadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="entidad" 
										title="#{msgEntidadLinea.lblEntidad}"
										required="true"
										requiredMessage="#{msgEntidadLinea.msg_req_entidad}"
										disabled="#{entidadLineaBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEntidad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="entidad" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{entidadLineaBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{entidadLineaBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidadLinea">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!entidadLineaBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{entidadLineaBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidadLinea">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{entidadLineaBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtEntidadLinea" widgetVar="wvEntidadLineaTable"
							var="entidadLinea" value="#{entidadLineaBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtEntidadLinea"
										fileName="entidadLinea" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtEntidadLinea"
										fileName="entidadLinea" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtEntidadLinea"
										fileName="entidadLinea" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtEntidadLinea"
										fileName="entidadLinea" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:entidadLineaDetail"
										oncomplete="PF('dlgEntidadLinea').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{entidadLinea}"
											target="#{entidadLineaBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{entidadLineaBeanView.actionModificarRegistro(entidadLinea)}"
										update=":formEntidadLinea:pgForm,:formEntidadLinea:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgEntidadLinea.lbl_col_lineaIntervencion}">
								<h:outputText value="#{entidadLinea.lineaIntervencionDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgEntidadLinea.lbl_col_entidad}">
								<h:outputText value="#{entidadLinea.entidadDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogEntidadLinea" header="#{msgEntidadLinea.detailTitle}"
							widgetVar="dlgEntidadLinea" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="entidadLineaDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidadLinea.lblLineaIntervencion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadLineaBeanView.baseDTO.lineaIntervencionDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidadLinea.lblEntidad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadLineaBeanView.baseDTO.entidadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogLineaIntervencion" width="60%" 
							header="LineaIntervencion" widgetVar="dlgLineaIntervencion"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="lineaIntervencionDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadLineaBeanView.lineaIntervencionLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadLineaBeanView.baseDTO.lineaIntervencionDTO}" />
									<ui:param name="update"
										value=":formEntidadLinea:lineaIntervencion" />
									<ui:param name="complete"
										value="PF('dlgLineaIntervencion').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogEntidad" width="60%" 
							header="Entidad" widgetVar="dlgEntidad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="entidadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadLineaBeanView.entidadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadLineaBeanView.baseDTO.entidadDTO}" />
									<ui:param name="update"
										value=":formEntidadLinea:entidad" />
									<ui:param name="complete"
										value="PF('dlgEntidad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>