<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-indicadorObjetivo" var="msgIndicadorObjetivo"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgIndicadorObjetivo['indicadorObjetivo-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formIndicadorObjetivo" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgIndicadorObjetivo['indicadorObjetivo-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="objetivo" value="#{msgIndicadorObjetivo.lblObjetivo}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{indicadorObjetivoBeanView.baseDTO.objetivoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="objetivo" 
										title="#{msgIndicadorObjetivo.lblObjetivo}"
										required="true"
										requiredMessage="#{msgIndicadorObjetivo.msg_req_objetivo}"
										disabled="#{indicadorObjetivoBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgObjetivo').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="objetivo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="indicador" value="#{msgIndicadorObjetivo.lblIndicador}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{indicadorObjetivoBeanView.baseDTO.indicadorDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="indicador" 
										title="#{msgIndicadorObjetivo.lblIndicador}"
										required="true"
										requiredMessage="#{msgIndicadorObjetivo.msg_req_indicador}"
										disabled="#{indicadorObjetivoBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgIndicador').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="indicador" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="resultado" value="#{msgIndicadorObjetivo.lblResultado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{indicadorObjetivoBeanView.baseDTO.resultado}" 
										styleClass="form-control input-sm"
										id="resultado" 
										title="#{msgIndicadorObjetivo.lblResultado}"
										required="false"
										requiredMessage="#{msgIndicadorObjetivo.msg_req_resultado}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="resultado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="meta" value="#{msgIndicadorObjetivo.lblMeta}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{indicadorObjetivoBeanView.baseDTO.meta}" 
										styleClass="form-control input-sm"
										id="meta" 
										title="#{msgIndicadorObjetivo.lblMeta}"
										required="false"
										requiredMessage="#{msgIndicadorObjetivo.msg_req_meta}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="meta" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{indicadorObjetivoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{indicadorObjetivoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtIndicadorObjetivo">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!indicadorObjetivoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{indicadorObjetivoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtIndicadorObjetivo">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{indicadorObjetivoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtIndicadorObjetivo" widgetVar="wvIndicadorObjetivoTable"
							var="indicadorObjetivo" value="#{indicadorObjetivoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtIndicadorObjetivo"
										fileName="indicadorObjetivo" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtIndicadorObjetivo"
										fileName="indicadorObjetivo" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtIndicadorObjetivo"
										fileName="indicadorObjetivo" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtIndicadorObjetivo"
										fileName="indicadorObjetivo" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:indicadorObjetivoDetail"
										oncomplete="PF('dlgIndicadorObjetivo').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{indicadorObjetivo}"
											target="#{indicadorObjetivoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{indicadorObjetivoBeanView.actionModificarRegistro(indicadorObjetivo)}"
										update=":formIndicadorObjetivo:pgForm,:formIndicadorObjetivo:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgIndicadorObjetivo.lbl_col_objetivo}">
								<h:outputText value="#{indicadorObjetivo.objetivoDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgIndicadorObjetivo.lbl_col_indicador}">
								<h:outputText value="#{indicadorObjetivo.indicadorDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogIndicadorObjetivo" header="#{msgIndicadorObjetivo.detailTitle}"
							widgetVar="dlgIndicadorObjetivo" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="indicadorObjetivoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorObjetivo.lblObjetivo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorObjetivoBeanView.baseDTO.objetivoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorObjetivo.lblIndicador}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorObjetivoBeanView.baseDTO.indicadorDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorObjetivo.lblResultado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorObjetivoBeanView.baseDTO.resultado}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorObjetivo.lblMeta}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorObjetivoBeanView.baseDTO.meta}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogObjetivo" width="60%" 
							header="Objetivo" widgetVar="dlgObjetivo"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="objetivoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{indicadorObjetivoBeanView.objetivoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{indicadorObjetivoBeanView.baseDTO.objetivoDTO}" />
									<ui:param name="update"
										value=":formIndicadorObjetivo:objetivo" />
									<ui:param name="complete"
										value="PF('dlgObjetivo').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogIndicador" width="60%" 
							header="Indicador" widgetVar="dlgIndicador"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="indicadorDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{indicadorObjetivoBeanView.indicadorLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{indicadorObjetivoBeanView.baseDTO.indicadorDTO}" />
									<ui:param name="update"
										value=":formIndicadorObjetivo:indicador" />
									<ui:param name="complete"
										value="PF('dlgIndicador').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>