<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-iniciativa" var="msgIniciativa"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgIniciativa['iniciativa-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formIniciativa" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgIniciativa['iniciativa-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgIniciativa.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{iniciativaBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgIniciativa.lblNombre}"
										required="true"
										requiredMessage="#{msgIniciativa.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgIniciativa.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{iniciativaBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgIniciativa.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgIniciativa.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgIniciativa.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{iniciativaBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgIniciativa.lblEstado}"
										required="true"
										requiredMessage="#{msgIniciativa.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgIniciativa.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{iniciativaBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgIniciativa.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{iniciativaBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgIniciativa.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgIniciativa.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="descripcion" value="#{msgIniciativa.lblDescripcion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{iniciativaBeanView.baseDTO.descripcion}" 
										styleClass="form-control input-sm"
										id="descripcion" 
										title="#{msgIniciativa.lblDescripcion}"
										required="true"
										requiredMessage="#{msgIniciativa.msg_req_descripcion}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="descripcion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgIniciativa.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{iniciativaBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgIniciativa.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgIniciativa.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuario" value="#{msgIniciativa.lblUsuario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{iniciativaBeanView.baseDTO.usuarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="usuario" 
										title="#{msgIniciativa.lblUsuario}"
										required="true"
										requiredMessage="#{msgIniciativa.msg_req_usuario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgUsuario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="usuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgIniciativa.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{iniciativaBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgIniciativa.lblId}"
										required="true"
										requiredMessage="#{msgIniciativa.msg_req_id}"
										disabled="#{iniciativaBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgIniciativa.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{iniciativaBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgIniciativa.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgIniciativa.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{iniciativaBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{iniciativaBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtIniciativa">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!iniciativaBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{iniciativaBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtIniciativa">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{iniciativaBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtIniciativa" widgetVar="wvIniciativaTable"
							var="iniciativa" value="#{iniciativaBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtIniciativa"
										fileName="iniciativa" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtIniciativa"
										fileName="iniciativa" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtIniciativa"
										fileName="iniciativa" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtIniciativa"
										fileName="iniciativa" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:iniciativaDetail"
										oncomplete="PF('dlgIniciativa').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{iniciativa}"
											target="#{iniciativaBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{iniciativaBeanView.actionModificarRegistro(iniciativa)}"
										update=":formIniciativa:pgForm,:formIniciativa:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgIniciativa.lbl_col_nombre}"
								filterBy="#{iniciativa.nombre}" filterMatchMode="contains"
								sortBy="#{iniciativa.nombre}">
								<h:outputText value="#{iniciativa.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgIniciativa.lbl_col_estado}"
								filterBy="#{iniciativa.estadoDesc}"
								filterOptions="#{iniciativaBeanView.estadoFilter}"
								sortBy="#{iniciativa.estado}">
								<h:outputText value="#{iniciativa.estado}" />
							</p:column>
							
							<p:column headerText="#{msgIniciativa.lbl_col_descripcion}"
								filterBy="#{iniciativa.descripcion}" filterMatchMode="contains"
								sortBy="#{iniciativa.descripcion}">
								<h:outputText value="#{iniciativa.descripcion}" />
							</p:column>
							
							<p:column headerText="#{msgIniciativa.lbl_col_usuario}"
								filterBy="#{iniciativa.usuario.nombre}"
								filterMatchMode="contains"
								sortBy="#{iniciativa.usuario.nombre}">
								<h:outputText value="#{iniciativa.usuarioDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgIniciativa.lbl_col_id}"
								filterBy="#{iniciativa.id}" filterMatchMode="contains"
								sortBy="#{iniciativa.id}">
								<h:outputText value="#{iniciativa.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogIniciativa" header="#{msgIniciativa.detailTitle}"
							widgetVar="dlgIniciativa" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="iniciativaDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblDescripcion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.descripcion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.usuarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIniciativa.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{iniciativaBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogUsuario" width="60%" 
							header="Usuario" widgetVar="dlgUsuario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="usuarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{iniciativaBeanView.usuarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{iniciativaBeanView.baseDTO.usuarioDTO}" />
									<ui:param name="update"
										value=":formIniciativa:usuario" />
									<ui:param name="complete"
										value="PF('dlgUsuario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>