<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-liderTerritorio" var="msgLiderTerritorio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgLiderTerritorio['liderTerritorio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formLiderTerritorio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgLiderTerritorio['liderTerritorio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="lider" value="#{msgLiderTerritorio.lblLider}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{liderTerritorioBeanView.baseDTO.liderDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="lider" 
										title="#{msgLiderTerritorio.lblLider}"
										required="true"
										requiredMessage="#{msgLiderTerritorio.msg_req_lider}"
										disabled="#{liderTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgLider').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="lider" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="territorio" value="#{msgLiderTerritorio.lblTerritorio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{liderTerritorioBeanView.baseDTO.territorioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="territorio" 
										title="#{msgLiderTerritorio.lblTerritorio}"
										required="true"
										requiredMessage="#{msgLiderTerritorio.msg_req_territorio}"
										disabled="#{liderTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTerritorio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="territorio" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{liderTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{liderTerritorioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtLiderTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!liderTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{liderTerritorioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtLiderTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{liderTerritorioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtLiderTerritorio" widgetVar="wvLiderTerritorioTable"
							var="liderTerritorio" value="#{liderTerritorioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtLiderTerritorio"
										fileName="liderTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtLiderTerritorio"
										fileName="liderTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtLiderTerritorio"
										fileName="liderTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtLiderTerritorio"
										fileName="liderTerritorio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:liderTerritorioDetail"
										oncomplete="PF('dlgLiderTerritorio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{liderTerritorio}"
											target="#{liderTerritorioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{liderTerritorioBeanView.actionModificarRegistro(liderTerritorio)}"
										update=":formLiderTerritorio:pgForm,:formLiderTerritorio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgLiderTerritorio.lbl_col_lider}">
								<h:outputText value="#{liderTerritorio.liderDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgLiderTerritorio.lbl_col_territorio}">
								<h:outputText value="#{liderTerritorio.territorioDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogLiderTerritorio" header="#{msgLiderTerritorio.detailTitle}"
							widgetVar="dlgLiderTerritorio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="liderTerritorioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLiderTerritorio.lblLider}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{liderTerritorioBeanView.baseDTO.liderDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLiderTerritorio.lblTerritorio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{liderTerritorioBeanView.baseDTO.territorioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogLider" width="60%" 
							header="Lider" widgetVar="dlgLider"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="liderDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{liderTerritorioBeanView.liderLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{liderTerritorioBeanView.baseDTO.liderDTO}" />
									<ui:param name="update"
										value=":formLiderTerritorio:lider" />
									<ui:param name="complete"
										value="PF('dlgLider').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTerritorio" width="60%" 
							header="Territorio" widgetVar="dlgTerritorio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="territorioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{liderTerritorioBeanView.territorioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{liderTerritorioBeanView.baseDTO.territorioDTO}" />
									<ui:param name="update"
										value=":formLiderTerritorio:territorio" />
									<ui:param name="complete"
										value="PF('dlgTerritorio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>