<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-linea" var="msgLinea"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgLinea['linea-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formLinea" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgLinea['linea-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgLinea.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{lineaBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgLinea.lblNombre}"
										required="true"
										requiredMessage="#{msgLinea.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgLinea.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{lineaBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgLinea.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgLinea.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgLinea.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{lineaBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgLinea.lblEstado}"
										required="true"
										requiredMessage="#{msgLinea.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgLinea.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{lineaBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="objetivo" value="#{msgLinea.lblObjetivo}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{lineaBeanView.baseDTO.objetivoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="objetivo" 
										title="#{msgLinea.lblObjetivo}"
										required="true"
										requiredMessage="#{msgLinea.msg_req_objetivo}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgObjetivo').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="objetivo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgLinea.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{lineaBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgLinea.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgLinea.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgLinea.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{lineaBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgLinea.lblId}"
										required="true"
										requiredMessage="#{msgLinea.msg_req_id}"
										disabled="#{lineaBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgLinea.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{lineaBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgLinea.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgLinea.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgLinea.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{lineaBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgLinea.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgLinea.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{lineaBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{lineaBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtLinea">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!lineaBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{lineaBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtLinea">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{lineaBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtLinea" widgetVar="wvLineaTable"
							var="linea" value="#{lineaBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtLinea"
										fileName="linea" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtLinea"
										fileName="linea" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtLinea"
										fileName="linea" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtLinea"
										fileName="linea" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:lineaDetail"
										oncomplete="PF('dlgLinea').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{linea}"
											target="#{lineaBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{lineaBeanView.actionModificarRegistro(linea)}"
										update=":formLinea:pgForm,:formLinea:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgLinea.lbl_col_nombre}"
								filterBy="#{linea.nombre}" filterMatchMode="contains"
								sortBy="#{linea.nombre}">
								<h:outputText value="#{linea.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgLinea.lbl_col_estado}"
								filterBy="#{linea.estadoDesc}"
								filterOptions="#{lineaBeanView.estadoFilter}"
								sortBy="#{linea.estado}">
								<h:outputText value="#{linea.estado}" />
							</p:column>
							
							<p:column headerText="#{msgLinea.lbl_col_objetivo}"
								filterBy="#{linea.objetivo.nombre}"
								filterMatchMode="contains"
								sortBy="#{linea.objetivo.nombre}">
								<h:outputText value="#{linea.objetivoDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgLinea.lbl_col_id}"
								filterBy="#{linea.id}" filterMatchMode="contains"
								sortBy="#{linea.id}">
								<h:outputText value="#{linea.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogLinea" header="#{msgLinea.detailTitle}"
							widgetVar="dlgLinea" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="lineaDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblObjetivo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.objetivoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgLinea.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{lineaBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogObjetivo" width="60%" 
							header="Objetivo" widgetVar="dlgObjetivo"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="objetivoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{lineaBeanView.objetivoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{lineaBeanView.baseDTO.objetivoDTO}" />
									<ui:param name="update"
										value=":formLinea:objetivo" />
									<ui:param name="complete"
										value="PF('dlgObjetivo').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>