<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-parametroGeneral" var="msgParametroGeneral"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgParametroGeneral['parametroGeneral-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formParametroGeneral" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgParametroGeneral['parametroGeneral-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoParametro" value="#{msgParametroGeneral.lblTipoParametro}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{parametroGeneralBeanView.baseDTO.tipoParametro}" 
										styleClass="form-control input-sm"
										id="tipoParametro" 
										title="#{msgParametroGeneral.lblTipoParametro}"
										required="true"
										requiredMessage="#{msgParametroGeneral.msg_req_tipoParametro}"
										>
									<f:selectItem itemLabel="#{msgParametroGeneral.lblTipoParametroSelect}"
											itemValue="" />
										<f:selectItems value="#{parametroGeneralBeanView.tipoParametroList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="tipoParametro" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgParametroGeneral.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{parametroGeneralBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgParametroGeneral.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgParametroGeneral.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{parametroGeneralBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgParametroGeneral.lblEstado}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgParametroGeneral.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{parametroGeneralBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgParametroGeneral.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgParametroGeneral.lblValor}"
										required="true"
										requiredMessage="#{msgParametroGeneral.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgParametroGeneral.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgParametroGeneral.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="descripcion" value="#{msgParametroGeneral.lblDescripcion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.descripcion}" 
										styleClass="form-control input-sm"
										id="descripcion" 
										title="#{msgParametroGeneral.lblDescripcion}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_descripcion}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="descripcion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgParametroGeneral.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgParametroGeneral.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgParametroGeneral.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{parametroGeneralBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgParametroGeneral.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="clave" value="#{msgParametroGeneral.lblClave}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.clave}" 
										styleClass="form-control input-sm"
										id="clave" 
										title="#{msgParametroGeneral.lblClave}"
										required="false"
										requiredMessage="#{msgParametroGeneral.msg_req_clave}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="clave" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgParametroGeneral.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{parametroGeneralBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgParametroGeneral.lblId}"
										required="true"
										requiredMessage="#{msgParametroGeneral.msg_req_id}"
										disabled="#{parametroGeneralBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{parametroGeneralBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{parametroGeneralBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtParametroGeneral">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!parametroGeneralBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{parametroGeneralBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtParametroGeneral">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{parametroGeneralBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtParametroGeneral" widgetVar="wvParametroGeneralTable"
							var="parametroGeneral" value="#{parametroGeneralBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtParametroGeneral"
										fileName="parametroGeneral" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtParametroGeneral"
										fileName="parametroGeneral" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtParametroGeneral"
										fileName="parametroGeneral" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtParametroGeneral"
										fileName="parametroGeneral" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:parametroGeneralDetail"
										oncomplete="PF('dlgParametroGeneral').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{parametroGeneral}"
											target="#{parametroGeneralBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{parametroGeneralBeanView.actionModificarRegistro(parametroGeneral)}"
										update=":formParametroGeneral:pgForm,:formParametroGeneral:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgParametroGeneral.lbl_col_tipoParametro}"
								filterBy="#{parametroGeneral.tipoParametroDesc}"
								filterOptions="#{parametroGeneralBeanView.tipoParametroFilter}"
								sortBy="#{parametroGeneral.tipoParametro}">
								<h:outputText value="#{parametroGeneral.tipoParametro}" />
							</p:column>
							
							<p:column headerText="#{msgParametroGeneral.lbl_col_valor}"
								filterBy="#{parametroGeneral.valor}" filterMatchMode="contains"
								sortBy="#{parametroGeneral.valor}">
								<h:outputText value="#{parametroGeneral.valor}" />
							</p:column>
							
							<p:column headerText="#{msgParametroGeneral.lbl_col_id}"
								filterBy="#{parametroGeneral.id}" filterMatchMode="contains"
								sortBy="#{parametroGeneral.id}">
								<h:outputText value="#{parametroGeneral.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogParametroGeneral" header="#{msgParametroGeneral.detailTitle}"
							widgetVar="dlgParametroGeneral" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="parametroGeneralDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblTipoParametro}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.tipoParametroDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblDescripcion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.descripcion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblClave}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.clave}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgParametroGeneral.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{parametroGeneralBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>