<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-territorio" var="msgTerritorio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgTerritorio['territorio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formTerritorio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgTerritorio['territorio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgTerritorio.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{territorioBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgTerritorio.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="jovenesHombres" value="#{msgTerritorio.lblJovenesHombres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.jovenesHombres}" 
										styleClass="form-control input-sm"
										id="jovenesHombres" 
										title="#{msgTerritorio.lblJovenesHombres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_jovenesHombres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="jovenesHombres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="jovenesMujeres" value="#{msgTerritorio.lblJovenesMujeres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.jovenesMujeres}" 
										styleClass="form-control input-sm"
										id="jovenesMujeres" 
										title="#{msgTerritorio.lblJovenesMujeres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_jovenesMujeres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="jovenesMujeres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="menoresMujeres" value="#{msgTerritorio.lblMenoresMujeres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.menoresMujeres}" 
										styleClass="form-control input-sm"
										id="menoresMujeres" 
										title="#{msgTerritorio.lblMenoresMujeres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_menoresMujeres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="menoresMujeres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estadoVia" value="#{msgTerritorio.lblEstadoVia}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{territorioBeanView.baseDTO.estadoViaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="estadoVia" 
										title="#{msgTerritorio.lblEstadoVia}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_estadoVia}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEstadoVia').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="estadoVia" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgTerritorio.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgTerritorio.lblId}"
										required="true"
										requiredMessage="#{msgTerritorio.msg_req_id}"
										disabled="#{territorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgTerritorio.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgTerritorio.lblNombre}"
										required="true"
										requiredMessage="#{msgTerritorio.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="adultosMayoresHombres" value="#{msgTerritorio.lblAdultosMayoresHombres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.adultosMayoresHombres}" 
										styleClass="form-control input-sm"
										id="adultosMayoresHombres" 
										title="#{msgTerritorio.lblAdultosMayoresHombres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_adultosMayoresHombres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="adultosMayoresHombres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoTerritorio" value="#{msgTerritorio.lblTipoTerritorio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{territorioBeanView.baseDTO.tipoTerritorioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="tipoTerritorio" 
										title="#{msgTerritorio.lblTipoTerritorio}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_tipoTerritorio}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTipoTerritorio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="tipoTerritorio" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgTerritorio.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{territorioBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgTerritorio.lblEstado}"
										required="true"
										requiredMessage="#{msgTerritorio.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgTerritorio.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{territorioBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="problemaComunidad" value="#{msgTerritorio.lblProblemaComunidad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{territorioBeanView.baseDTO.problemaComunidadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="problemaComunidad" 
										title="#{msgTerritorio.lblProblemaComunidad}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_problemaComunidad}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProblemaComunidad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="problemaComunidad" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgTerritorio.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgTerritorio.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="adultosMayoresMujeres" value="#{msgTerritorio.lblAdultosMayoresMujeres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.adultosMayoresMujeres}" 
										styleClass="form-control input-sm"
										id="adultosMayoresMujeres" 
										title="#{msgTerritorio.lblAdultosMayoresMujeres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_adultosMayoresMujeres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="adultosMayoresMujeres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgTerritorio.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgTerritorio.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="menoresHombres" value="#{msgTerritorio.lblMenoresHombres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{territorioBeanView.baseDTO.menoresHombres}" 
										styleClass="form-control input-sm"
										id="menoresHombres" 
										title="#{msgTerritorio.lblMenoresHombres}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_menoresHombres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="menoresHombres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="zona" value="#{msgTerritorio.lblZona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{territorioBeanView.baseDTO.zonaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="zona" 
										title="#{msgTerritorio.lblZona}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_zona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgZona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="zona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgTerritorio.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{territorioBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgTerritorio.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgTerritorio.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{territorioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{territorioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!territorioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{territorioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{territorioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtTerritorio" widgetVar="wvTerritorioTable"
							var="territorio" value="#{territorioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtTerritorio"
										fileName="territorio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtTerritorio"
										fileName="territorio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtTerritorio"
										fileName="territorio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtTerritorio"
										fileName="territorio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:territorioDetail"
										oncomplete="PF('dlgTerritorio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{territorio}"
											target="#{territorioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{territorioBeanView.actionModificarRegistro(territorio)}"
										update=":formTerritorio:pgForm,:formTerritorio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgTerritorio.lbl_col_id}"
								filterBy="#{territorio.id}" filterMatchMode="contains"
								sortBy="#{territorio.id}">
								<h:outputText value="#{territorio.id}" />
							</p:column>
							
							<p:column headerText="#{msgTerritorio.lbl_col_nombre}"
								filterBy="#{territorio.nombre}" filterMatchMode="contains"
								sortBy="#{territorio.nombre}">
								<h:outputText value="#{territorio.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgTerritorio.lbl_col_estado}"
								filterBy="#{territorio.estadoDesc}"
								filterOptions="#{territorioBeanView.estadoFilter}"
								sortBy="#{territorio.estado}">
								<h:outputText value="#{territorio.estado}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogTerritorio" header="#{msgTerritorio.detailTitle}"
							widgetVar="dlgTerritorio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="territorioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblJovenesHombres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.jovenesHombres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblJovenesMujeres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.jovenesMujeres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblMenoresMujeres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.menoresMujeres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblEstadoVia}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.estadoViaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblAdultosMayoresHombres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.adultosMayoresHombres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblTipoTerritorio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.tipoTerritorioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblProblemaComunidad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.problemaComunidadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblAdultosMayoresMujeres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.adultosMayoresMujeres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblMenoresHombres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.menoresHombres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblZona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.zonaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTerritorio.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{territorioBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogEstadoVia" width="60%" 
							header="EstadoVia" widgetVar="dlgEstadoVia"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="estadoViaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{territorioBeanView.estadoViaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{territorioBeanView.baseDTO.estadoViaDTO}" />
									<ui:param name="update"
										value=":formTerritorio:estadoVia" />
									<ui:param name="complete"
										value="PF('dlgEstadoVia').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTipoTerritorio" width="60%" 
							header="TipoTerritorio" widgetVar="dlgTipoTerritorio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="tipoTerritorioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{territorioBeanView.tipoTerritorioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{territorioBeanView.baseDTO.tipoTerritorioDTO}" />
									<ui:param name="update"
										value=":formTerritorio:tipoTerritorio" />
									<ui:param name="complete"
										value="PF('dlgTipoTerritorio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogProblemaComunidad" width="60%" 
							header="ProblemaComunidad" widgetVar="dlgProblemaComunidad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="problemaComunidadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{territorioBeanView.problemaComunidadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{territorioBeanView.baseDTO.problemaComunidadDTO}" />
									<ui:param name="update"
										value=":formTerritorio:problemaComunidad" />
									<ui:param name="complete"
										value="PF('dlgProblemaComunidad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogZona" width="60%" 
							header="Zona" widgetVar="dlgZona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="zonaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{territorioBeanView.zonaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{territorioBeanView.baseDTO.zonaDTO}" />
									<ui:param name="update"
										value=":formTerritorio:zona" />
									<ui:param name="complete"
										value="PF('dlgZona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>