<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-tipoContacto" var="msgTipoContacto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgTipoContacto['tipoContacto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formTipoContacto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgTipoContacto['tipoContacto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgTipoContacto.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{tipoContactoBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgTipoContacto.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgTipoContacto.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgTipoContacto.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{tipoContactoBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgTipoContacto.lblEstado}"
										required="true"
										requiredMessage="#{msgTipoContacto.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgTipoContacto.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{tipoContactoBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgTipoContacto.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoContactoBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgTipoContacto.lblValor}"
										required="true"
										requiredMessage="#{msgTipoContacto.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgTipoContacto.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoContactoBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgTipoContacto.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgTipoContacto.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgTipoContacto.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoContactoBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgTipoContacto.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgTipoContacto.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgTipoContacto.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{tipoContactoBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgTipoContacto.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgTipoContacto.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgTipoContacto.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoContactoBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgTipoContacto.lblId}"
										required="true"
										requiredMessage="#{msgTipoContacto.msg_req_id}"
										disabled="#{tipoContactoBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{tipoContactoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{tipoContactoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtTipoContacto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!tipoContactoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{tipoContactoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtTipoContacto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{tipoContactoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtTipoContacto" widgetVar="wvTipoContactoTable"
							var="tipoContacto" value="#{tipoContactoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtTipoContacto"
										fileName="tipoContacto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtTipoContacto"
										fileName="tipoContacto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtTipoContacto"
										fileName="tipoContacto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtTipoContacto"
										fileName="tipoContacto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:tipoContactoDetail"
										oncomplete="PF('dlgTipoContacto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{tipoContacto}"
											target="#{tipoContactoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{tipoContactoBeanView.actionModificarRegistro(tipoContacto)}"
										update=":formTipoContacto:pgForm,:formTipoContacto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgTipoContacto.lbl_col_estado}"
								filterBy="#{tipoContacto.estadoDesc}"
								filterOptions="#{tipoContactoBeanView.estadoFilter}"
								sortBy="#{tipoContacto.estado}">
								<h:outputText value="#{tipoContacto.estado}" />
							</p:column>
							
							<p:column headerText="#{msgTipoContacto.lbl_col_valor}"
								filterBy="#{tipoContacto.valor}" filterMatchMode="contains"
								sortBy="#{tipoContacto.valor}">
								<h:outputText value="#{tipoContacto.valor}" />
							</p:column>
							
							<p:column headerText="#{msgTipoContacto.lbl_col_id}"
								filterBy="#{tipoContacto.id}" filterMatchMode="contains"
								sortBy="#{tipoContacto.id}">
								<h:outputText value="#{tipoContacto.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogTipoContacto" header="#{msgTipoContacto.detailTitle}"
							widgetVar="dlgTipoContacto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="tipoContactoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoContacto.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoContactoBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>