<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-trazaActividad" var="msgTrazaActividad"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgTrazaActividad['trazaActividad-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formTrazaActividad" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgTrazaActividad['trazaActividad-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fecha" value="#{msgTrazaActividad.lblFecha}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{trazaActividadBeanView.baseDTO.fecha}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fecha" 
										title="#{msgTrazaActividad.lblFecha}"
										required="true"
										requiredMessage="#{msgTrazaActividad.msg_req_fecha}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fecha" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuario" value="#{msgTrazaActividad.lblUsuario}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaActividadBeanView.baseDTO.usuario}" 
										styleClass="form-control input-sm"
										id="usuario" 
										title="#{msgTrazaActividad.lblUsuario}"
										required="true"
										requiredMessage="#{msgTrazaActividad.msg_req_usuario}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estadoActividad" value="#{msgTrazaActividad.lblEstadoActividad}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaActividadBeanView.baseDTO.estadoActividad}" 
										styleClass="form-control input-sm"
										id="estadoActividad" 
										title="#{msgTrazaActividad.lblEstadoActividad}"
										required="true"
										requiredMessage="#{msgTrazaActividad.msg_req_estadoActividad}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="estadoActividad" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="actividad" value="#{msgTrazaActividad.lblActividad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{trazaActividadBeanView.baseDTO.actividadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="actividad" 
										title="#{msgTrazaActividad.lblActividad}"
										required="true"
										requiredMessage="#{msgTrazaActividad.msg_req_actividad}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgActividad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="actividad" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgTrazaActividad.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaActividadBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgTrazaActividad.lblId}"
										required="true"
										requiredMessage="#{msgTrazaActividad.msg_req_id}"
										disabled="#{trazaActividadBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{trazaActividadBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{trazaActividadBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtTrazaActividad">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!trazaActividadBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{trazaActividadBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtTrazaActividad">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{trazaActividadBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtTrazaActividad" widgetVar="wvTrazaActividadTable"
							var="trazaActividad" value="#{trazaActividadBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtTrazaActividad"
										fileName="trazaActividad" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtTrazaActividad"
										fileName="trazaActividad" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtTrazaActividad"
										fileName="trazaActividad" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtTrazaActividad"
										fileName="trazaActividad" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:trazaActividadDetail"
										oncomplete="PF('dlgTrazaActividad').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{trazaActividad}"
											target="#{trazaActividadBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{trazaActividadBeanView.actionModificarRegistro(trazaActividad)}"
										update=":formTrazaActividad:pgForm,:formTrazaActividad:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
						<p:column sortBy="#{trazaActividad.fecha}">
								<f:facet name="header">
									<div>
										<h:outputText value="#{msgTrazaActividad.lbl_col_fecha}" />
									</div>
									<p:outputPanel>
										<p:calendar
											value="#{trazaActividadBeanView.fechaInterval.minDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvTrazaActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
										<p:calendar
											value="#{trazaActividadBeanView.fechaInterval.maxDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvTrazaActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
									</p:outputPanel>
								</f:facet>
								<h:outputText value="#{trazaActividad.fecha}">
									<f:convertDateTime pattern="#{msg.pageTimeFormat12}" timeZone="#{msg.timeZone}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgTrazaActividad.lbl_col_usuario}"
								filterBy="#{trazaActividad.usuario}" filterMatchMode="contains"
								sortBy="#{trazaActividad.usuario}">
								<h:outputText value="#{trazaActividad.usuario}" />
							</p:column>
							
							<p:column headerText="#{msgTrazaActividad.lbl_col_estadoActividad}"
								filterBy="#{trazaActividad.estadoActividad}" filterMatchMode="contains"
								sortBy="#{trazaActividad.estadoActividad}">
								<h:outputText value="#{trazaActividad.estadoActividad}" />
							</p:column>
							
							<p:column headerText="#{msgTrazaActividad.lbl_col_actividad}">
								<h:outputText value="#{trazaActividad.actividadDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgTrazaActividad.lbl_col_id}"
								filterBy="#{trazaActividad.id}" filterMatchMode="contains"
								sortBy="#{trazaActividad.id}">
								<h:outputText value="#{trazaActividad.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogTrazaActividad" header="#{msgTrazaActividad.detailTitle}"
							widgetVar="dlgTrazaActividad" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="trazaActividadDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaActividad.lblFecha}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaActividadBeanView.baseDTO.fecha}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaActividad.lblUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaActividadBeanView.baseDTO.usuario}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaActividad.lblEstadoActividad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaActividadBeanView.baseDTO.estadoActividad}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaActividad.lblActividad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaActividadBeanView.baseDTO.actividadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaActividad.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaActividadBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogActividad" width="60%" 
							header="Actividad" widgetVar="dlgActividad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="actividadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{trazaActividadBeanView.actividadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{trazaActividadBeanView.baseDTO.actividadDTO}" />
									<ui:param name="update"
										value=":formTrazaActividad:actividad" />
									<ui:param name="complete"
										value="PF('dlgActividad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>