<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-valorDatoAdicional" var="msgValorDatoAdicional"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgValorDatoAdicional['valorDatoAdicional-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formValorDatoAdicional" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgValorDatoAdicional['valorDatoAdicional-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgValorDatoAdicional.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{valorDatoAdicionalBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgValorDatoAdicional.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgValorDatoAdicional.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgValorDatoAdicional.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{valorDatoAdicionalBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgValorDatoAdicional.lblEstado}"
										required="true"
										requiredMessage="#{msgValorDatoAdicional.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgValorDatoAdicional.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{valorDatoAdicionalBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgValorDatoAdicional.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{valorDatoAdicionalBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgValorDatoAdicional.lblValor}"
										required="false"
										requiredMessage="#{msgValorDatoAdicional.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgValorDatoAdicional.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{valorDatoAdicionalBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgValorDatoAdicional.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgValorDatoAdicional.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgValorDatoAdicional.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{valorDatoAdicionalBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgValorDatoAdicional.lblId}"
										required="true"
										requiredMessage="#{msgValorDatoAdicional.msg_req_id}"
										disabled="#{valorDatoAdicionalBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgValorDatoAdicional.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{valorDatoAdicionalBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgValorDatoAdicional.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgValorDatoAdicional.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="datoAdicional" value="#{msgValorDatoAdicional.lblDatoAdicional}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{valorDatoAdicionalBeanView.baseDTO.datoAdicionalDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="datoAdicional" 
										title="#{msgValorDatoAdicional.lblDatoAdicional}"
										required="true"
										requiredMessage="#{msgValorDatoAdicional.msg_req_datoAdicional}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgDatoAdicional').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="datoAdicional" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgValorDatoAdicional.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{valorDatoAdicionalBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgValorDatoAdicional.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgValorDatoAdicional.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="beneficiario" value="#{msgValorDatoAdicional.lblBeneficiario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{valorDatoAdicionalBeanView.baseDTO.beneficiarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="beneficiario" 
										title="#{msgValorDatoAdicional.lblBeneficiario}"
										required="true"
										requiredMessage="#{msgValorDatoAdicional.msg_req_beneficiario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgBeneficiario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="beneficiario" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{valorDatoAdicionalBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{valorDatoAdicionalBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtValorDatoAdicional">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!valorDatoAdicionalBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{valorDatoAdicionalBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtValorDatoAdicional">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{valorDatoAdicionalBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtValorDatoAdicional" widgetVar="wvValorDatoAdicionalTable"
							var="valorDatoAdicional" value="#{valorDatoAdicionalBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtValorDatoAdicional"
										fileName="valorDatoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtValorDatoAdicional"
										fileName="valorDatoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtValorDatoAdicional"
										fileName="valorDatoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtValorDatoAdicional"
										fileName="valorDatoAdicional" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:valorDatoAdicionalDetail"
										oncomplete="PF('dlgValorDatoAdicional').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{valorDatoAdicional}"
											target="#{valorDatoAdicionalBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{valorDatoAdicionalBeanView.actionModificarRegistro(valorDatoAdicional)}"
										update=":formValorDatoAdicional:pgForm,:formValorDatoAdicional:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgValorDatoAdicional.lbl_col_estado}"
								filterBy="#{valorDatoAdicional.estadoDesc}"
								filterOptions="#{valorDatoAdicionalBeanView.estadoFilter}"
								sortBy="#{valorDatoAdicional.estado}">
								<h:outputText value="#{valorDatoAdicional.estado}" />
							</p:column>
							
							<p:column headerText="#{msgValorDatoAdicional.lbl_col_id}"
								filterBy="#{valorDatoAdicional.id}" filterMatchMode="contains"
								sortBy="#{valorDatoAdicional.id}">
								<h:outputText value="#{valorDatoAdicional.id}" />
							</p:column>
							
							<p:column headerText="#{msgValorDatoAdicional.lbl_col_datoAdicional}"
								filterBy="#{valorDatoAdicional.datoAdicional.valor}"
								filterMatchMode="contains"
								sortBy="#{valorDatoAdicional.datoAdicional.valor}">
								<h:outputText value="#{valorDatoAdicional.datoAdicionalDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgValorDatoAdicional.lbl_col_beneficiario}"
								filterBy="#{valorDatoAdicional.beneficiario.valor}"
								filterMatchMode="contains"
								sortBy="#{valorDatoAdicional.beneficiario.valor}">
								<h:outputText value="#{valorDatoAdicional.beneficiarioDTO.baseDescription}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogValorDatoAdicional" header="#{msgValorDatoAdicional.detailTitle}"
							widgetVar="dlgValorDatoAdicional" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="valorDatoAdicionalDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblDatoAdicional}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.datoAdicionalDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgValorDatoAdicional.lblBeneficiario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{valorDatoAdicionalBeanView.baseDTO.beneficiarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogDatoAdicional" width="60%" 
							header="DatoAdicional" widgetVar="dlgDatoAdicional"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="datoAdicionalDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{valorDatoAdicionalBeanView.datoAdicionalLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{valorDatoAdicionalBeanView.baseDTO.datoAdicionalDTO}" />
									<ui:param name="update"
										value=":formValorDatoAdicional:datoAdicional" />
									<ui:param name="complete"
										value="PF('dlgDatoAdicional').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogBeneficiario" width="60%" 
							header="Beneficiario" widgetVar="dlgBeneficiario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="beneficiarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{valorDatoAdicionalBeanView.beneficiarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{valorDatoAdicionalBeanView.baseDTO.beneficiarioDTO}" />
									<ui:param name="update"
										value=":formValorDatoAdicional:beneficiario" />
									<ui:param name="complete"
										value="PF('dlgBeneficiario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>