<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msg['tituloapp']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h1>
					<h:outputText value="#{msg['titleBienvenido']}" />
				</h1>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</body>
</html>