<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/schema/security">

	<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
	<f:loadBundle basename="i18n.msg-menu" var="msgMenu"></f:loadBundle>
	
	<ui:param name="urlLogo" value="/resources/images/logo-empresa-no-bg.png"/>
	
	<ui:param name="urlNavHome" value="#{request.contextPath}/views/templates/home.xhtml"/>

	<ui:param name="urlNavLogout" value="#{request.contextPath}/j_spring_security_logout"/>
	
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo-nav" href="#{urlNavHome}"> <p:graphicImage value="#{urlLogo}"
					width="35" height="30" />
				</a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul class="nav navbar-nav" id="menuBar">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="glyphicon glyphicon-cog icon-white"></i>
					<strong><h:outputText value="#{msgMenu.lblAdministracion}" /></strong></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<!-- <li>
						<p:link outcome="goAreaEducacion" value="#{msgMenu.lblOpcionAreaEducacion}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTipoVivienda" value="#{msgMenu.lblOpcionTipoVivienda}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goServicio" value="#{msgMenu.lblOpcionServicio}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goGrupoEtnico" value="#{msgMenu.lblOpcionGrupoEtnico}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goEstadoVia" value="#{msgMenu.lblOpcionEstadoVia}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goParametroGeneral" value="#{msgMenu.lblOpcionParametroGeneral}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goEstadoActividad" value="#{msgMenu.lblOpcionEstadoActividad}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goLineaIntervencion" value="#{msgMenu.lblOpcionLineaIntervencion}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goProblemaComunidad" value="#{msgMenu.lblOpcionProblemaComunidad}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goIndicador" value="#{msgMenu.lblOpcionIndicador}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goZona" value="#{msgMenu.lblOpcionZona}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goRol" value="#{msgMenu.lblOpcionRol}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goBdNacional" value="#{msgMenu.lblOpcionBdNacional}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTipoTenencia" value="#{msgMenu.lblOpcionTipoTenencia}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goMunicipio" value="#{msgMenu.lblOpcionMunicipio}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goComponente" value="#{msgMenu.lblOpcionComponente}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goNivelEducativo" value="#{msgMenu.lblOpcionNivelEducativo}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goDescIndependiente" value="#{msgMenu.lblOpcionDescIndependiente}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goParentesco" value="#{msgMenu.lblOpcionParentesco}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goEstadoCivil" value="#{msgMenu.lblOpcionEstadoCivil}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goPersona" value="#{msgMenu.lblOpcionPersona}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goOcupacion" value="#{msgMenu.lblOpcionOcupacion}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goMaterialVivienda" value="#{msgMenu.lblOpcionMaterialVivienda}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goRolFundacion" value="#{msgMenu.lblOpcionRolFundacion}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goCargo" value="#{msgMenu.lblOpcionCargo}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goAfiliadoSalud" value="#{msgMenu.lblOpcionAfiliadoSalud}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goEstructuraFamiliar" value="#{msgMenu.lblOpcionEstructuraFamiliar}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTipoContacto" value="#{msgMenu.lblOpcionTipoContacto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTipoAliado" value="#{msgMenu.lblOpcionTipoAliado}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goUsuario" value="#{msgMenu.lblOpcionUsuario}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goLider" value="#{msgMenu.lblOpcionLider}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTipoTerritorio" value="#{msgMenu.lblOpcionTipoTerritorio}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goEntidad" value="#{msgMenu.lblOpcionEntidad}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goBeneficiario" value="#{msgMenu.lblOpcionBeneficiario}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goDatoContacto" value="#{msgMenu.lblOpcionDatoContacto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goPariente" value="#{msgMenu.lblOpcionPariente}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goBeneficiarioServicio" value="#{msgMenu.lblOpcionBeneficiarioServicio}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goObjetivo" value="#{msgMenu.lblOpcionObjetivo}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goRolUsuario" value="#{msgMenu.lblOpcionRolUsuario}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goEntidadLinea" value="#{msgMenu.lblOpcionEntidadLinea}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goIniciativa" value="#{msgMenu.lblOpcionIniciativa}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTerritorio" value="#{msgMenu.lblOpcionTerritorio}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goActividad" value="#{msgMenu.lblOpcionActividad}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goEntidadTerritorio" value="#{msgMenu.lblOpcionEntidadTerritorio}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goLinea" value="#{msgMenu.lblOpcionLinea}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goIndicadorObjetivo" value="#{msgMenu.lblOpcionIndicadorObjetivo}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goObjetivoIniciativa" value="#{msgMenu.lblOpcionObjetivoIniciativa}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goLiderTerritorio" value="#{msgMenu.lblOpcionLiderTerritorio}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTrazaActividad" value="#{msgMenu.lblOpcionTrazaActividad}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goProyecto" value="#{msgMenu.lblOpcionProyecto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<!-- <li>
						<p:link outcome="goProyectoBeneficiario" value="#{msgMenu.lblOpcionProyectoBeneficiario}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goProyectoTerritorio" value="#{msgMenu.lblOpcionProyectoTerritorio}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goTrazaPresupuesto" value="#{msgMenu.lblOpcionTrazaPresupuesto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goComponenteProyecto" value="#{msgMenu.lblOpcionComponenteProyecto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goDocumentoAdjunto" value="#{msgMenu.lblOpcionDocumentoAdjunto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goIndicadorProyecto" value="#{msgMenu.lblOpcionIndicadorProyecto}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goAliado" value="#{msgMenu.lblOpcionAliado}"
						style="font-weight: bold;" >
						</p:link>
					</li> -->
					<li>
						<p:link outcome="goDatoAdicional" value="#{msgMenu.lblOpcionDatoAdicional}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goAsistente" value="#{msgMenu.lblOpcionAsistente}"
						style="font-weight: bold;" >
						</p:link>
					</li>
					<li>
						<p:link outcome="goValorDatoAdicional" value="#{msgMenu.lblOpcionValorDatoAdicional}"
						style="font-weight: bold;" >
						</p:link>
					</li>
				</ul>
				</li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<h:outputLink value="#{urlNavLogout}">#{msgMenu.lblOpcionCerrarSesion}</h:outputLink>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
</div>