<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:spring="http://www.springframework.org/tags">
	
	<!-- Variables JS -->
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
    <ui:param name="urlBootstrapJS" value="#{request.contextPath}/resources/js/bootstrap/bootstrap.js"/>
    <ui:param name="urlUtilJS" value="#{request.contextPath}/resources/js/util/util.js"/>

	<!-- Variables CSS -->
    <ui:param name="urlBoostrapCSS" value="#{request.contextPath}/resources/css/bootstrap/bootstrap.css"/>
    <ui:param name="urlBoostrapThemeCSS" value="#{request.contextPath}/resources/css/bootstrap/bootstrap-theme.css"/>
    <ui:param name="urlEstilosCSS" value="#{request.contextPath}/resources/css/theme/estilos.css"/>
    
    <ui:param name="urlIcon" value="#{request.contextPath}/resources/images/Favicon.ico"/>

    <!-- Icon -->
    <link href="#{urlIcon}" rel="icon" type="image/x-icon" />

    <!-- CSS -->
    <link href="#{urlBoostrapCSS}" rel="stylesheet" type="text/css" />
    <link href="#{urlBoostrapThemeCSS}" rel="stylesheet" type="text/css" />
    <link href="#{urlEstilosCSS}" rel="stylesheet" />

    <!-- JS -->
    <script src="#{urlBootstrapJS}" type="text/javascript" charset="utf-8"></script>
    <script src="#{urlUtilJS}" type="text/javascript" charset="utf-8"></script>

	
</ui:composition>