<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <ui:include src="include.xhtml"/>   
    	<ui:insert name="head">Head Data</ui:insert>
        <title><ui:insert name="title">Titulo</ui:insert></title>
    </h:head>

    <h:body>
        <ui:include src="includemenu.xhtml"/>
        <div id="content">
            <ui:insert name="content">Page Content</ui:insert>
        </div>
    </h:body>

</html>
