<p:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	widgetVar="wvEntityTable" var="entity"
	value="#{entityList}" paginator="true"
	rows="10" lazy="true"
	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
	rowsPerPageTemplate="5,10,25,50,100">
	<p:column headerText="#{msg.lblAccion}">
		<h:panelGroup>
			<p:commandLink update="#{update}" process="@this" oncomplete="#{complete}">
				<li class="glyphicon glyphicon-ok" title="#{msg.LABEL_SELECCIONE}" />
				<f:setPropertyActionListener value="#{entity}"
					target="#{entitySelected}" />
			</p:commandLink>
		</h:panelGroup>
	</p:column>
	<p:column headerText="Id">
		<h:outputText value="#{entity.id}" />
	</p:column>
	<p:column headerText="#{msg.lblDescripcion}">
		<h:outputText value="#{entity.baseDescription}" />
	</p:column>
</p:dataTable>