@CHARSET "ISO-8859-1";

body {
	font-size: 12px;
	padding-top: 80px; /* adjust this if the height of the menu bar changes */
	height: 100%
}
p {
	font-size: 12px;
}
.form-control {
	font-size: 12px;
}

.nav {
	margin-top: 5px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}
tr.paginator {
  td {
    width: 90px;
  }
}

ul.form li.twoColumnPart {
    float:left;
}

td.left{
	text-align: left;
}

.input-filter {
	padding: 2px !important;
}

.globalsearch-filter {
	position: fixed;
	right: 21%;
}

.ui-growl {
	top:60px;
}
