<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<ui:include src="/views/templates/include.xhtml" />

		<ui:param value="./resources/css/theme/login.css" name="urlLoginCSS" />
		<link href="#{urlLoginCSS}" rel="stylesheet" type="text/css" />

		<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>

		<title><h:outputText value="#{msg.titleLogin}" /></title>
	</h:head>
	<h:body
		style="background-image:url('./resources/images/Background.gif');">
		<c:if test="${not empty param.error}">
			<div class="errorblock">
				<h:outputFormat value="#{msg.errorSinConexion}">
					<f:param
						value="#{sessionScope['SPRING_SECURITY_LAST_EXCEPTION'].message}" />
				</h:outputFormat>
			</div>
		</c:if>
		<h:form name='f' style="text-align: center;" prependId="false">
			<p:messages id="loginMessages" showDetail="false" autoUpdate="true"
				closable="true" />
			<div class="borderLogin row">
				<div>
					<h:graphicImage value="/resources/images/logo-empresa-bg-white.png"
						width="150" height="122" />
				</div>
				<br />
				<div class="text-center">
					<h3>
						<h:outputText value="#{msg.tituloapp}" />
					</h3>
				</div>
				<h:panelGrid columns="1" style="margin:auto" cellpadding="3">
					<p:inputText id="j_username" name="j_username"
						label="#{msg.inputUsuario}" required="true"
						requiredMessage="#{msg.usuarioValidate}" style="width:255px">
					</p:inputText>
					<p:watermark for="j_username" value="#{msg.inputUsuario}" />
					<br />
					<p:password id="j_password" name="j_password"
						label="#{msg.inputUsuario}" required="true"
						requiredMessage="#{msg.passValidate}" style="width:255px">
					</p:password>
					<p:watermark for="j_password" value="#{msg.inputPass}" />
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg.btnIniciar}"
					action="#{loginBeanView.login}" ajax="false"
					styleClass="btn btn-danger" />
			</div>
		</h:form>
	</h:body>
</f:view>
</html>