<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-actividad" var="msgActividad"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgActividad['actividad-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formActividad" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgActividad['actividad-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="componente" value="#{msgActividad.lblComponente}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{actividadBeanView.baseDTO.componenteDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="componente" 
										title="#{msgActividad.lblComponente}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_componente}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgComponente').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="componente" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgActividad.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{actividadBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgActividad.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="resultadoObtenido" value="#{msgActividad.lblResultadoObtenido}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.resultadoObtenido}" 
										styleClass="form-control input-sm"
										id="resultadoObtenido" 
										title="#{msgActividad.lblResultadoObtenido}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_resultadoObtenido}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="resultadoObtenido" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estadoActividad" value="#{msgActividad.lblEstadoActividad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{actividadBeanView.baseDTO.estadoActividadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="estadoActividad" 
										title="#{msgActividad.lblEstadoActividad}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_estadoActividad}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEstadoActividad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="estadoActividad" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="observacionSeg" value="#{msgActividad.lblObservacionSeg}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.observacionSeg}" 
										styleClass="form-control input-sm"
										id="observacionSeg" 
										title="#{msgActividad.lblObservacionSeg}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_observacionSeg}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="observacionSeg" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="resultadoEsperado" value="#{msgActividad.lblResultadoEsperado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.resultadoEsperado}" 
										styleClass="form-control input-sm"
										id="resultadoEsperado" 
										title="#{msgActividad.lblResultadoEsperado}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_resultadoEsperado}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="resultadoEsperado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaSeguimiento" value="#{msgActividad.lblFechaSeguimiento}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{actividadBeanView.baseDTO.fechaSeguimiento}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaSeguimiento" 
										title="#{msgActividad.lblFechaSeguimiento}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_fechaSeguimiento}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaSeguimiento" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgActividad.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgActividad.lblNombre}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="recursos" value="#{msgActividad.lblRecursos}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.recursos}" 
										styleClass="form-control input-sm"
										id="recursos" 
										title="#{msgActividad.lblRecursos}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_recursos}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="recursos" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgActividad.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{actividadBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgActividad.lblEstado}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgActividad.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{actividadBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgActividad.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgActividad.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="cantAsistentes" value="#{msgActividad.lblCantAsistentes}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.cantAsistentes}" 
										styleClass="form-control input-sm"
										id="cantAsistentes" 
										title="#{msgActividad.lblCantAsistentes}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_cantAsistentes}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="cantAsistentes" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgActividad.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgActividad.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuario" value="#{msgActividad.lblUsuario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{actividadBeanView.baseDTO.usuarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="usuario" 
										title="#{msgActividad.lblUsuario}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_usuario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgUsuario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="usuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaEjecucion" value="#{msgActividad.lblFechaEjecucion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{actividadBeanView.baseDTO.fechaEjecucion}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaEjecucion" 
										title="#{msgActividad.lblFechaEjecucion}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_fechaEjecucion}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaEjecucion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgActividad.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{actividadBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgActividad.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgActividad.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgActividad.lblId}"
										required="true"
										requiredMessage="#{msgActividad.msg_req_id}"
										disabled="#{actividadBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="leccionesAprendidas" value="#{msgActividad.lblLeccionesAprendidas}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{actividadBeanView.baseDTO.leccionesAprendidas}" 
										styleClass="form-control input-sm"
										id="leccionesAprendidas" 
										title="#{msgActividad.lblLeccionesAprendidas}"
										required="false"
										requiredMessage="#{msgActividad.msg_req_leccionesAprendidas}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="leccionesAprendidas" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{actividadBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{actividadBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtActividad">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!actividadBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{actividadBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtActividad">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{actividadBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtActividad" widgetVar="wvActividadTable"
							var="actividad" value="#{actividadBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtActividad"
										fileName="actividad" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtActividad"
										fileName="actividad" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtActividad"
										fileName="actividad" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtActividad"
										fileName="actividad" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:actividadDetail"
										oncomplete="PF('dlgActividad').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{actividad}"
											target="#{actividadBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{actividadBeanView.actionModificarRegistro(actividad)}"
										update=":formActividad:pgForm,:formActividad:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgActividad.lbl_col_componente}"
								filterBy="#{actividad.componente.nombre}"
								filterMatchMode="contains"
								sortBy="#{actividad.componente.nombre}">
								<h:outputText value="#{actividad.componenteDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_resultadoEsperado}"
								filterBy="#{actividad.resultadoEsperado}" filterMatchMode="contains"
								sortBy="#{actividad.resultadoEsperado}">
								<h:outputText value="#{actividad.resultadoEsperado}" />
							</p:column>
							
						<p:column sortBy="#{actividad.fechaSeguimiento}">
								<f:facet name="header">
									<div>
										<h:outputText value="#{msgActividad.lbl_col_fechaSeguimiento}" />
									</div>
									<p:outputPanel>
										<p:calendar
											value="#{actividadBeanView.fechaSeguimientoInterval.minDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
										<p:calendar
											value="#{actividadBeanView.fechaSeguimientoInterval.maxDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
									</p:outputPanel>
								</f:facet>
								<h:outputText value="#{actividad.fechaSeguimiento}">
									<f:convertDateTime pattern="#{msg.pageTimeFormat12}" timeZone="#{msg.timeZone}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_nombre}"
								filterBy="#{actividad.nombre}" filterMatchMode="contains"
								sortBy="#{actividad.nombre}">
								<h:outputText value="#{actividad.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_recursos}"
								filterBy="#{actividad.recursos}" filterMatchMode="contains"
								sortBy="#{actividad.recursos}">
								<h:outputText value="#{actividad.recursos}" />
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_estado}"
								filterBy="#{actividad.estadoDesc}"
								filterOptions="#{actividadBeanView.estadoFilter}"
								sortBy="#{actividad.estado}">
								<h:outputText value="#{actividad.estado}" />
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_usuario}"
								filterBy="#{actividad.usuario.nombre}"
								filterMatchMode="contains"
								sortBy="#{actividad.usuario.nombre}">
								<h:outputText value="#{actividad.usuarioDTO.baseDescription}" />
							</p:column>
							
						<p:column sortBy="#{actividad.fechaEjecucion}">
								<f:facet name="header">
									<div>
										<h:outputText value="#{msgActividad.lbl_col_fechaEjecucion}" />
									</div>
									<p:outputPanel>
										<p:calendar
											value="#{actividadBeanView.fechaEjecucionInterval.minDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
										<p:calendar
											value="#{actividadBeanView.fechaEjecucionInterval.maxDate}"
											navigator="true" pattern="#{msg.pageDateFormat}" size="12">
											<p:ajax event="dateSelect"
												oncomplete="PF('wvActividadTable').filter()"
												process="@this" update="@this" />
										</p:calendar>
									</p:outputPanel>
								</f:facet>
								<h:outputText value="#{actividad.fechaEjecucion}">
									<f:convertDateTime pattern="#{msg.pageTimeFormat12}" timeZone="#{msg.timeZone}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgActividad.lbl_col_id}"
								filterBy="#{actividad.id}" filterMatchMode="contains"
								sortBy="#{actividad.id}">
								<h:outputText value="#{actividad.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogActividad" header="#{msgActividad.detailTitle}"
							widgetVar="dlgActividad" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="actividadDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblComponente}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.componenteDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblResultadoObtenido}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.resultadoObtenido}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblEstadoActividad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.estadoActividadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblObservacionSeg}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.observacionSeg}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblResultadoEsperado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.resultadoEsperado}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblFechaSeguimiento}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.fechaSeguimiento}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblRecursos}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.recursos}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblCantAsistentes}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.cantAsistentes}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.usuarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblFechaEjecucion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.fechaEjecucion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgActividad.lblLeccionesAprendidas}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{actividadBeanView.baseDTO.leccionesAprendidas}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogComponente" width="60%" 
							header="Componente" widgetVar="dlgComponente"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="componenteDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{actividadBeanView.componenteLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{actividadBeanView.baseDTO.componenteDTO}" />
									<ui:param name="update"
										value=":formActividad:componente" />
									<ui:param name="complete"
										value="PF('dlgComponente').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogEstadoActividad" width="60%" 
							header="EstadoActividad" widgetVar="dlgEstadoActividad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="estadoActividadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{actividadBeanView.estadoActividadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{actividadBeanView.baseDTO.estadoActividadDTO}" />
									<ui:param name="update"
										value=":formActividad:estadoActividad" />
									<ui:param name="complete"
										value="PF('dlgEstadoActividad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogUsuario" width="60%" 
							header="Usuario" widgetVar="dlgUsuario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="usuarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{actividadBeanView.usuarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{actividadBeanView.baseDTO.usuarioDTO}" />
									<ui:param name="update"
										value=":formActividad:usuario" />
									<ui:param name="complete"
										value="PF('dlgUsuario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>