<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-asistente" var="msgAsistente"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgAsistente['asistente-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formAsistente" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgAsistente['asistente-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgAsistente.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{asistenteBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgAsistente.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgAsistente.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgAsistente.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{asistenteBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgAsistente.lblEstado}"
										required="true"
										requiredMessage="#{msgAsistente.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgAsistente.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{asistenteBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgAsistente.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{asistenteBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgAsistente.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgAsistente.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyectoBeneficiario" value="#{msgAsistente.lblProyectoBeneficiario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{asistenteBeanView.baseDTO.proyectoBeneficiarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyectoBeneficiario" 
										title="#{msgAsistente.lblProyectoBeneficiario}"
										required="true"
										requiredMessage="#{msgAsistente.msg_req_proyectoBeneficiario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyectoBeneficiario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyectoBeneficiario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgAsistente.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{asistenteBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgAsistente.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgAsistente.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgAsistente.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{asistenteBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgAsistente.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgAsistente.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgAsistente.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{asistenteBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgAsistente.lblId}"
										required="true"
										requiredMessage="#{msgAsistente.msg_req_id}"
										disabled="#{asistenteBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="actividad" value="#{msgAsistente.lblActividad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{asistenteBeanView.baseDTO.actividadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="actividad" 
										title="#{msgAsistente.lblActividad}"
										required="true"
										requiredMessage="#{msgAsistente.msg_req_actividad}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgActividad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="actividad" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{asistenteBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{asistenteBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtAsistente">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!asistenteBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{asistenteBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtAsistente">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{asistenteBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtAsistente" widgetVar="wvAsistenteTable"
							var="asistente" value="#{asistenteBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtAsistente"
										fileName="asistente" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtAsistente"
										fileName="asistente" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtAsistente"
										fileName="asistente" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtAsistente"
										fileName="asistente" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:asistenteDetail"
										oncomplete="PF('dlgAsistente').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{asistente}"
											target="#{asistenteBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{asistenteBeanView.actionModificarRegistro(asistente)}"
										update=":formAsistente:pgForm,:formAsistente:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgAsistente.lbl_col_estado}"
								filterBy="#{asistente.estadoDesc}"
								filterOptions="#{asistenteBeanView.estadoFilter}"
								sortBy="#{asistente.estado}">
								<h:outputText value="#{asistente.estado}" />
							</p:column>
							
							<p:column headerText="#{msgAsistente.lbl_col_proyectoBeneficiario}">
								<h:outputText value="#{asistente.proyectoBeneficiarioDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgAsistente.lbl_col_id}"
								filterBy="#{asistente.id}" filterMatchMode="contains"
								sortBy="#{asistente.id}">
								<h:outputText value="#{asistente.id}" />
							</p:column>
							
							<p:column headerText="#{msgAsistente.lbl_col_actividad}">
								<h:outputText value="#{asistente.actividadDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogAsistente" header="#{msgAsistente.detailTitle}"
							widgetVar="dlgAsistente" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="asistenteDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblProyectoBeneficiario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.proyectoBeneficiarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgAsistente.lblActividad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{asistenteBeanView.baseDTO.actividadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogProyectoBeneficiario" width="60%" 
							header="ProyectoBeneficiario" widgetVar="dlgProyectoBeneficiario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoBeneficiarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{asistenteBeanView.proyectoBeneficiarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{asistenteBeanView.baseDTO.proyectoBeneficiarioDTO}" />
									<ui:param name="update"
										value=":formAsistente:proyectoBeneficiario" />
									<ui:param name="complete"
										value="PF('dlgProyectoBeneficiario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogActividad" width="60%" 
							header="Actividad" widgetVar="dlgActividad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="actividadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{asistenteBeanView.actividadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{asistenteBeanView.baseDTO.actividadDTO}" />
									<ui:param name="update"
										value=":formAsistente:actividad" />
									<ui:param name="complete"
										value="PF('dlgActividad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>