<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-datoAdicional" var="msgDatoAdicional"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgDatoAdicional['datoAdicional-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formDatoAdicional" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgDatoAdicional['datoAdicional-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombreDato" value="#{msgDatoAdicional.lblNombreDato}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoAdicionalBeanView.baseDTO.nombreDato}" 
										styleClass="form-control input-sm"
										id="nombreDato" 
										title="#{msgDatoAdicional.lblNombreDato}"
										required="false"
										requiredMessage="#{msgDatoAdicional.msg_req_nombreDato}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombreDato" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgDatoAdicional.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{datoAdicionalBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgDatoAdicional.lblId}"
										required="true"
										requiredMessage="#{msgDatoAdicional.msg_req_id}"
										disabled="#{datoAdicionalBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyecto" value="#{msgDatoAdicional.lblProyecto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{datoAdicionalBeanView.baseDTO.proyectoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyecto" 
										title="#{msgDatoAdicional.lblProyecto}"
										required="false"
										requiredMessage="#{msgDatoAdicional.msg_req_proyecto}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyecto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyecto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{datoAdicionalBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{datoAdicionalBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtDatoAdicional">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!datoAdicionalBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{datoAdicionalBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtDatoAdicional">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{datoAdicionalBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtDatoAdicional" widgetVar="wvDatoAdicionalTable"
							var="datoAdicional" value="#{datoAdicionalBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtDatoAdicional"
										fileName="datoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtDatoAdicional"
										fileName="datoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtDatoAdicional"
										fileName="datoAdicional" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtDatoAdicional"
										fileName="datoAdicional" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:datoAdicionalDetail"
										oncomplete="PF('dlgDatoAdicional').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{datoAdicional}"
											target="#{datoAdicionalBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{datoAdicionalBeanView.actionModificarRegistro(datoAdicional)}"
										update=":formDatoAdicional:pgForm,:formDatoAdicional:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgDatoAdicional.lbl_col_id}"
								filterBy="#{datoAdicional.id}" filterMatchMode="contains"
								sortBy="#{datoAdicional.id}">
								<h:outputText value="#{datoAdicional.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogDatoAdicional" header="#{msgDatoAdicional.detailTitle}"
							widgetVar="dlgDatoAdicional" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="datoAdicionalDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoAdicional.lblNombreDato}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoAdicionalBeanView.baseDTO.nombreDato}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoAdicional.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoAdicionalBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgDatoAdicional.lblProyecto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{datoAdicionalBeanView.baseDTO.proyectoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogProyecto" width="60%" 
							header="Proyecto" widgetVar="dlgProyecto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{datoAdicionalBeanView.proyectoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{datoAdicionalBeanView.baseDTO.proyectoDTO}" />
									<ui:param name="update"
										value=":formDatoAdicional:proyecto" />
									<ui:param name="complete"
										value="PF('dlgProyecto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>