<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-entidad" var="msgEntidad"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgEntidad['entidad-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formEntidad" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgEntidad['entidad-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoId" value="#{msgEntidad.lblTipoId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{entidadBeanView.baseDTO.tipoId}" 
										styleClass="form-control input-sm"
										id="tipoId" 
										title="#{msgEntidad.lblTipoId}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_tipoId}"
										>
									<f:selectItem itemLabel="#{msgEntidad.lblTipoIdSelect}"
											itemValue="" />
										<f:selectItems value="#{entidadBeanView.tipoIdList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="tipoId" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgEntidad.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{entidadBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgEntidad.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="persona" value="#{msgEntidad.lblPersona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadBeanView.baseDTO.personaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="persona" 
										title="#{msgEntidad.lblPersona}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_persona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgPersona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="persona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="persona" value="#{msgEntidad.lblPersona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadBeanView.baseDTO.personaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="persona" 
										title="#{msgEntidad.lblPersona}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_persona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgPersona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="persona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaConstitucion" value="#{msgEntidad.lblFechaConstitucion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{entidadBeanView.baseDTO.fechaConstitucion}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaConstitucion" 
										title="#{msgEntidad.lblFechaConstitucion}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_fechaConstitucion}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaConstitucion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="infoConvocatorias" value="#{msgEntidad.lblInfoConvocatorias}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.infoConvocatorias}" 
										styleClass="form-control input-sm"
										id="infoConvocatorias" 
										title="#{msgEntidad.lblInfoConvocatorias}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_infoConvocatorias}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="infoConvocatorias" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgEntidad.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgEntidad.lblNombre}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgEntidad.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgEntidad.lblId}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_id}"
										disabled="#{entidadBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="numId" value="#{msgEntidad.lblNumId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.numId}" 
										styleClass="form-control input-sm"
										id="numId" 
										title="#{msgEntidad.lblNumId}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_numId}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="numId" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgEntidad.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{entidadBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgEntidad.lblEstado}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgEntidad.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{entidadBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="certificaciones" value="#{msgEntidad.lblCertificaciones}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.certificaciones}" 
										styleClass="form-control input-sm"
										id="certificaciones" 
										title="#{msgEntidad.lblCertificaciones}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_certificaciones}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="certificaciones" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgEntidad.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgEntidad.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgEntidad.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgEntidad.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgEntidad.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{entidadBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgEntidad.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgEntidad.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoEntidad" value="#{msgEntidad.lblTipoEntidad}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{entidadBeanView.baseDTO.tipoEntidad}" 
										styleClass="form-control input-sm"
										id="tipoEntidad" 
										title="#{msgEntidad.lblTipoEntidad}"
										required="true"
										requiredMessage="#{msgEntidad.msg_req_tipoEntidad}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="tipoEntidad" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{entidadBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{entidadBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidad">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!entidadBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{entidadBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidad">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{entidadBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtEntidad" widgetVar="wvEntidadTable"
							var="entidad" value="#{entidadBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtEntidad"
										fileName="entidad" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtEntidad"
										fileName="entidad" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtEntidad"
										fileName="entidad" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtEntidad"
										fileName="entidad" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:entidadDetail"
										oncomplete="PF('dlgEntidad').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{entidad}"
											target="#{entidadBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{entidadBeanView.actionModificarRegistro(entidad)}"
										update=":formEntidad:pgForm,:formEntidad:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgEntidad.lbl_col_tipoId}"
								filterBy="#{entidad.tipoIdDesc}"
								filterOptions="#{entidadBeanView.tipoIdFilter}"
								sortBy="#{entidad.tipoId}">
								<h:outputText value="#{entidad.tipoId}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_persona}"
								filterBy="#{entidad.persona.nombre}"
								filterMatchMode="contains"
								sortBy="#{entidad.persona.nombre}">
								<h:outputText value="#{entidad.personaDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_nombre}"
								filterBy="#{entidad.nombre}" filterMatchMode="contains"
								sortBy="#{entidad.nombre}">
								<h:outputText value="#{entidad.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_id}"
								filterBy="#{entidad.id}" filterMatchMode="contains"
								sortBy="#{entidad.id}">
								<h:outputText value="#{entidad.id}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_numId}"
								filterBy="#{entidad.numId}" filterMatchMode="contains"
								sortBy="#{entidad.numId}">
								<h:outputText value="#{entidad.numId}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_estado}"
								filterBy="#{entidad.estadoDesc}"
								filterOptions="#{entidadBeanView.estadoFilter}"
								sortBy="#{entidad.estado}">
								<h:outputText value="#{entidad.estado}" />
							</p:column>
							
							<p:column headerText="#{msgEntidad.lbl_col_tipoEntidad}"
								filterBy="#{entidad.tipoEntidad}" filterMatchMode="contains"
								sortBy="#{entidad.tipoEntidad}">
								<h:outputText value="#{entidad.tipoEntidad}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogEntidad" header="#{msgEntidad.detailTitle}"
							widgetVar="dlgEntidad" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="entidadDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblTipoId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.tipoIdDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblPersona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.personaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblPersona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.personaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblFechaConstitucion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.fechaConstitucion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblInfoConvocatorias}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.infoConvocatorias}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblNumId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.numId}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblCertificaciones}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.certificaciones}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidad.lblTipoEntidad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadBeanView.baseDTO.tipoEntidad}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogPersona" width="60%" 
							header="Persona" widgetVar="dlgPersona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="personaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadBeanView.personaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadBeanView.baseDTO.personaDTO}" />
									<ui:param name="update"
										value=":formEntidad:persona" />
									<ui:param name="complete"
										value="PF('dlgPersona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogPersona" width="60%" 
							header="Persona" widgetVar="dlgPersona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="personaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadBeanView.personaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadBeanView.baseDTO.personaDTO}" />
									<ui:param name="update"
										value=":formEntidad:persona" />
									<ui:param name="complete"
										value="PF('dlgPersona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>