<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-entidadTerritorio" var="msgEntidadTerritorio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgEntidadTerritorio['entidadTerritorio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formEntidadTerritorio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgEntidadTerritorio['entidadTerritorio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="entidad" value="#{msgEntidadTerritorio.lblEntidad}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadTerritorioBeanView.baseDTO.entidadDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="entidad" 
										title="#{msgEntidadTerritorio.lblEntidad}"
										required="true"
										requiredMessage="#{msgEntidadTerritorio.msg_req_entidad}"
										disabled="#{entidadTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgEntidad').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="entidad" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="territorio" value="#{msgEntidadTerritorio.lblTerritorio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{entidadTerritorioBeanView.baseDTO.territorioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="territorio" 
										title="#{msgEntidadTerritorio.lblTerritorio}"
										required="true"
										requiredMessage="#{msgEntidadTerritorio.msg_req_territorio}"
										disabled="#{entidadTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTerritorio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="territorio" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{entidadTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{entidadTerritorioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidadTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!entidadTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{entidadTerritorioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtEntidadTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{entidadTerritorioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtEntidadTerritorio" widgetVar="wvEntidadTerritorioTable"
							var="entidadTerritorio" value="#{entidadTerritorioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtEntidadTerritorio"
										fileName="entidadTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtEntidadTerritorio"
										fileName="entidadTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtEntidadTerritorio"
										fileName="entidadTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtEntidadTerritorio"
										fileName="entidadTerritorio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:entidadTerritorioDetail"
										oncomplete="PF('dlgEntidadTerritorio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{entidadTerritorio}"
											target="#{entidadTerritorioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{entidadTerritorioBeanView.actionModificarRegistro(entidadTerritorio)}"
										update=":formEntidadTerritorio:pgForm,:formEntidadTerritorio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgEntidadTerritorio.lbl_col_entidad}">
								<h:outputText value="#{entidadTerritorio.entidadDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgEntidadTerritorio.lbl_col_territorio}">
								<h:outputText value="#{entidadTerritorio.territorioDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogEntidadTerritorio" header="#{msgEntidadTerritorio.detailTitle}"
							widgetVar="dlgEntidadTerritorio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="entidadTerritorioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidadTerritorio.lblEntidad}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadTerritorioBeanView.baseDTO.entidadDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEntidadTerritorio.lblTerritorio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{entidadTerritorioBeanView.baseDTO.territorioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogEntidad" width="60%" 
							header="Entidad" widgetVar="dlgEntidad"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="entidadDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadTerritorioBeanView.entidadLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadTerritorioBeanView.baseDTO.entidadDTO}" />
									<ui:param name="update"
										value=":formEntidadTerritorio:entidad" />
									<ui:param name="complete"
										value="PF('dlgEntidad').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogTerritorio" width="60%" 
							header="Territorio" widgetVar="dlgTerritorio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="territorioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{entidadTerritorioBeanView.territorioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{entidadTerritorioBeanView.baseDTO.territorioDTO}" />
									<ui:param name="update"
										value=":formEntidadTerritorio:territorio" />
									<ui:param name="complete"
										value="PF('dlgTerritorio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>