<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-estructuraFamiliar" var="msgEstructuraFamiliar"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgEstructuraFamiliar['estructuraFamiliar-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formEstructuraFamiliar" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgEstructuraFamiliar['estructuraFamiliar-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgEstructuraFamiliar.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{estructuraFamiliarBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgEstructuraFamiliar.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgEstructuraFamiliar.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{estructuraFamiliarBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgEstructuraFamiliar.lblEstado}"
										required="true"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgEstructuraFamiliar.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{estructuraFamiliarBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgEstructuraFamiliar.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{estructuraFamiliarBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgEstructuraFamiliar.lblId}"
										required="true"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_id}"
										disabled="#{estructuraFamiliarBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgEstructuraFamiliar.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{estructuraFamiliarBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgEstructuraFamiliar.lblValor}"
										required="true"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgEstructuraFamiliar.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{estructuraFamiliarBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgEstructuraFamiliar.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgEstructuraFamiliar.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{estructuraFamiliarBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgEstructuraFamiliar.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgEstructuraFamiliar.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{estructuraFamiliarBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgEstructuraFamiliar.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgEstructuraFamiliar.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{estructuraFamiliarBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{estructuraFamiliarBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtEstructuraFamiliar">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!estructuraFamiliarBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{estructuraFamiliarBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtEstructuraFamiliar">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{estructuraFamiliarBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtEstructuraFamiliar" widgetVar="wvEstructuraFamiliarTable"
							var="estructuraFamiliar" value="#{estructuraFamiliarBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtEstructuraFamiliar"
										fileName="estructuraFamiliar" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtEstructuraFamiliar"
										fileName="estructuraFamiliar" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtEstructuraFamiliar"
										fileName="estructuraFamiliar" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtEstructuraFamiliar"
										fileName="estructuraFamiliar" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:estructuraFamiliarDetail"
										oncomplete="PF('dlgEstructuraFamiliar').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{estructuraFamiliar}"
											target="#{estructuraFamiliarBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{estructuraFamiliarBeanView.actionModificarRegistro(estructuraFamiliar)}"
										update=":formEstructuraFamiliar:pgForm,:formEstructuraFamiliar:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgEstructuraFamiliar.lbl_col_estado}"
								filterBy="#{estructuraFamiliar.estadoDesc}"
								filterOptions="#{estructuraFamiliarBeanView.estadoFilter}"
								sortBy="#{estructuraFamiliar.estado}">
								<h:outputText value="#{estructuraFamiliar.estado}" />
							</p:column>
							
							<p:column headerText="#{msgEstructuraFamiliar.lbl_col_id}"
								filterBy="#{estructuraFamiliar.id}" filterMatchMode="contains"
								sortBy="#{estructuraFamiliar.id}">
								<h:outputText value="#{estructuraFamiliar.id}" />
							</p:column>
							
							<p:column headerText="#{msgEstructuraFamiliar.lbl_col_valor}"
								filterBy="#{estructuraFamiliar.valor}" filterMatchMode="contains"
								sortBy="#{estructuraFamiliar.valor}">
								<h:outputText value="#{estructuraFamiliar.valor}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogEstructuraFamiliar" header="#{msgEstructuraFamiliar.detailTitle}"
							widgetVar="dlgEstructuraFamiliar" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="estructuraFamiliarDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgEstructuraFamiliar.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{estructuraFamiliarBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>