<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-indicadorProyecto" var="msgIndicadorProyecto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgIndicadorProyecto['indicadorProyecto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formIndicadorProyecto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgIndicadorProyecto['indicadorProyecto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="indicador" value="#{msgIndicadorProyecto.lblIndicador}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{indicadorProyectoBeanView.baseDTO.indicadorDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="indicador" 
										title="#{msgIndicadorProyecto.lblIndicador}"
										required="true"
										requiredMessage="#{msgIndicadorProyecto.msg_req_indicador}"
										disabled="#{indicadorProyectoBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgIndicador').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="indicador" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyecto" value="#{msgIndicadorProyecto.lblProyecto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{indicadorProyectoBeanView.baseDTO.proyectoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyecto" 
										title="#{msgIndicadorProyecto.lblProyecto}"
										required="true"
										requiredMessage="#{msgIndicadorProyecto.msg_req_proyecto}"
										disabled="#{indicadorProyectoBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyecto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyecto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{indicadorProyectoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{indicadorProyectoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtIndicadorProyecto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!indicadorProyectoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{indicadorProyectoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtIndicadorProyecto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{indicadorProyectoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtIndicadorProyecto" widgetVar="wvIndicadorProyectoTable"
							var="indicadorProyecto" value="#{indicadorProyectoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtIndicadorProyecto"
										fileName="indicadorProyecto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtIndicadorProyecto"
										fileName="indicadorProyecto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtIndicadorProyecto"
										fileName="indicadorProyecto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtIndicadorProyecto"
										fileName="indicadorProyecto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:indicadorProyectoDetail"
										oncomplete="PF('dlgIndicadorProyecto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{indicadorProyecto}"
											target="#{indicadorProyectoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{indicadorProyectoBeanView.actionModificarRegistro(indicadorProyecto)}"
										update=":formIndicadorProyecto:pgForm,:formIndicadorProyecto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgIndicadorProyecto.lbl_col_indicador}">
								<h:outputText value="#{indicadorProyecto.indicadorDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgIndicadorProyecto.lbl_col_proyecto}">
								<h:outputText value="#{indicadorProyecto.proyectoDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogIndicadorProyecto" header="#{msgIndicadorProyecto.detailTitle}"
							widgetVar="dlgIndicadorProyecto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="indicadorProyectoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorProyecto.lblIndicador}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorProyectoBeanView.baseDTO.indicadorDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgIndicadorProyecto.lblProyecto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{indicadorProyectoBeanView.baseDTO.proyectoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogIndicador" width="60%" 
							header="Indicador" widgetVar="dlgIndicador"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="indicadorDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{indicadorProyectoBeanView.indicadorLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{indicadorProyectoBeanView.baseDTO.indicadorDTO}" />
									<ui:param name="update"
										value=":formIndicadorProyecto:indicador" />
									<ui:param name="complete"
										value="PF('dlgIndicador').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogProyecto" width="60%" 
							header="Proyecto" widgetVar="dlgProyecto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{indicadorProyectoBeanView.proyectoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{indicadorProyectoBeanView.baseDTO.proyectoDTO}" />
									<ui:param name="update"
										value=":formIndicadorProyecto:proyecto" />
									<ui:param name="complete"
										value="PF('dlgProyecto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>