<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-objetivoIniciativa" var="msgObjetivoIniciativa"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgObjetivoIniciativa['objetivoIniciativa-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formObjetivoIniciativa" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgObjetivoIniciativa['objetivoIniciativa-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="objetivo" value="#{msgObjetivoIniciativa.lblObjetivo}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{objetivoIniciativaBeanView.baseDTO.objetivoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="objetivo" 
										title="#{msgObjetivoIniciativa.lblObjetivo}"
										required="true"
										requiredMessage="#{msgObjetivoIniciativa.msg_req_objetivo}"
										disabled="#{objetivoIniciativaBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgObjetivo').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="objetivo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="idUsuarioResp" value="#{msgObjetivoIniciativa.lblIdUsuarioResp}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{objetivoIniciativaBeanView.baseDTO.idUsuarioResp}" 
										styleClass="form-control input-sm"
										id="idUsuarioResp" 
										title="#{msgObjetivoIniciativa.lblIdUsuarioResp}"
										required="true"
										requiredMessage="#{msgObjetivoIniciativa.msg_req_idUsuarioResp}"
										disabled="#{objetivoIniciativaBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="idUsuarioResp" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="iniciativa" value="#{msgObjetivoIniciativa.lblIniciativa}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{objetivoIniciativaBeanView.baseDTO.iniciativaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="iniciativa" 
										title="#{msgObjetivoIniciativa.lblIniciativa}"
										required="true"
										requiredMessage="#{msgObjetivoIniciativa.msg_req_iniciativa}"
										disabled="#{objetivoIniciativaBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgIniciativa').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="iniciativa" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{objetivoIniciativaBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{objetivoIniciativaBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtObjetivoIniciativa">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!objetivoIniciativaBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{objetivoIniciativaBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtObjetivoIniciativa">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{objetivoIniciativaBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtObjetivoIniciativa" widgetVar="wvObjetivoIniciativaTable"
							var="objetivoIniciativa" value="#{objetivoIniciativaBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtObjetivoIniciativa"
										fileName="objetivoIniciativa" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtObjetivoIniciativa"
										fileName="objetivoIniciativa" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtObjetivoIniciativa"
										fileName="objetivoIniciativa" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtObjetivoIniciativa"
										fileName="objetivoIniciativa" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:objetivoIniciativaDetail"
										oncomplete="PF('dlgObjetivoIniciativa').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{objetivoIniciativa}"
											target="#{objetivoIniciativaBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{objetivoIniciativaBeanView.actionModificarRegistro(objetivoIniciativa)}"
										update=":formObjetivoIniciativa:pgForm,:formObjetivoIniciativa:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgObjetivoIniciativa.lbl_col_objetivo}">
								<h:outputText value="#{objetivoIniciativa.objetivoDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgObjetivoIniciativa.lbl_col_idUsuarioResp}"
								filterBy="#{objetivoIniciativa.idUsuarioResp}" filterMatchMode="contains"
								sortBy="#{objetivoIniciativa.idUsuarioResp}">
								<h:outputText value="#{objetivoIniciativa.idUsuarioResp}" />
							</p:column>
							
							<p:column headerText="#{msgObjetivoIniciativa.lbl_col_iniciativa}">
								<h:outputText value="#{objetivoIniciativa.iniciativaDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogObjetivoIniciativa" header="#{msgObjetivoIniciativa.detailTitle}"
							widgetVar="dlgObjetivoIniciativa" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="objetivoIniciativaDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgObjetivoIniciativa.lblObjetivo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{objetivoIniciativaBeanView.baseDTO.objetivoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgObjetivoIniciativa.lblIdUsuarioResp}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{objetivoIniciativaBeanView.baseDTO.idUsuarioResp}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgObjetivoIniciativa.lblIniciativa}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{objetivoIniciativaBeanView.baseDTO.iniciativaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogObjetivo" width="60%" 
							header="Objetivo" widgetVar="dlgObjetivo"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="objetivoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{objetivoIniciativaBeanView.objetivoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{objetivoIniciativaBeanView.baseDTO.objetivoDTO}" />
									<ui:param name="update"
										value=":formObjetivoIniciativa:objetivo" />
									<ui:param name="complete"
										value="PF('dlgObjetivo').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogIniciativa" width="60%" 
							header="Iniciativa" widgetVar="dlgIniciativa"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="iniciativaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{objetivoIniciativaBeanView.iniciativaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{objetivoIniciativaBeanView.baseDTO.iniciativaDTO}" />
									<ui:param name="update"
										value=":formObjetivoIniciativa:iniciativa" />
									<ui:param name="complete"
										value="PF('dlgIniciativa').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>