<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-persona" var="msgPersona"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgPersona['persona-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formPersona" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgPersona['persona-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="tipoId" value="#{msgPersona.lblTipoId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{personaBeanView.baseDTO.tipoId}" 
										styleClass="form-control input-sm"
										id="tipoId" 
										title="#{msgPersona.lblTipoId}"
										required="false"
										requiredMessage="#{msgPersona.msg_req_tipoId}"
										>
									<f:selectItem itemLabel="#{msgPersona.lblTipoIdSelect}"
											itemValue="" />
										<f:selectItems value="#{personaBeanView.tipoIdList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="tipoId" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgPersona.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{personaBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgPersona.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgPersona.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="numId" value="#{msgPersona.lblNumId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.numId}" 
										styleClass="form-control input-sm"
										id="numId" 
										title="#{msgPersona.lblNumId}"
										required="true"
										requiredMessage="#{msgPersona.msg_req_numId}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="numId" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgPersona.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{personaBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgPersona.lblEstado}"
										required="true"
										requiredMessage="#{msgPersona.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgPersona.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{personaBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombres" value="#{msgPersona.lblNombres}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.nombres}" 
										styleClass="form-control input-sm"
										id="nombres" 
										title="#{msgPersona.lblNombres}"
										required="true"
										requiredMessage="#{msgPersona.msg_req_nombres}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombres" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="apellidos" value="#{msgPersona.lblApellidos}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.apellidos}" 
										styleClass="form-control input-sm"
										id="apellidos" 
										title="#{msgPersona.lblApellidos}"
										required="true"
										requiredMessage="#{msgPersona.msg_req_apellidos}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="apellidos" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgPersona.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgPersona.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgPersona.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgPersona.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgPersona.lblId}"
										required="true"
										requiredMessage="#{msgPersona.msg_req_id}"
										disabled="#{personaBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgPersona.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{personaBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgPersona.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgPersona.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgPersona.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{personaBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgPersona.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgPersona.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{personaBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{personaBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtPersona">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!personaBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{personaBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtPersona">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{personaBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtPersona" widgetVar="wvPersonaTable"
							var="persona" value="#{personaBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtPersona"
										fileName="persona" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtPersona"
										fileName="persona" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtPersona"
										fileName="persona" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtPersona"
										fileName="persona" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:personaDetail"
										oncomplete="PF('dlgPersona').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{persona}"
											target="#{personaBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{personaBeanView.actionModificarRegistro(persona)}"
										update=":formPersona:pgForm,:formPersona:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgPersona.lbl_col_numId}"
								filterBy="#{persona.numId}" filterMatchMode="contains"
								sortBy="#{persona.numId}">
								<h:outputText value="#{persona.numId}" />
							</p:column>
							
							<p:column headerText="#{msgPersona.lbl_col_estado}"
								filterBy="#{persona.estadoDesc}"
								filterOptions="#{personaBeanView.estadoFilter}"
								sortBy="#{persona.estado}">
								<h:outputText value="#{persona.estado}" />
							</p:column>
							
							<p:column headerText="#{msgPersona.lbl_col_nombres}"
								filterBy="#{persona.nombres}" filterMatchMode="contains"
								sortBy="#{persona.nombres}">
								<h:outputText value="#{persona.nombres}" />
							</p:column>
							
							<p:column headerText="#{msgPersona.lbl_col_apellidos}"
								filterBy="#{persona.apellidos}" filterMatchMode="contains"
								sortBy="#{persona.apellidos}">
								<h:outputText value="#{persona.apellidos}" />
							</p:column>
							
							<p:column headerText="#{msgPersona.lbl_col_id}"
								filterBy="#{persona.id}" filterMatchMode="contains"
								sortBy="#{persona.id}">
								<h:outputText value="#{persona.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogPersona" header="#{msgPersona.detailTitle}"
							widgetVar="dlgPersona" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="personaDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblTipoId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.tipoIdDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblNumId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.numId}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblNombres}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.nombres}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblApellidos}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.apellidos}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgPersona.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{personaBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>