<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-proyectoBeneficiario" var="msgProyectoBeneficiario"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgProyectoBeneficiario['proyectoBeneficiario-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formProyectoBeneficiario" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgProyectoBeneficiario['proyectoBeneficiario-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgProyectoBeneficiario.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeneficiarioBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgProyectoBeneficiario.lblId}"
										required="true"
										requiredMessage="#{msgProyectoBeneficiario.msg_req_id}"
										disabled="#{proyectoBeneficiarioBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="beneficiario" value="#{msgProyectoBeneficiario.lblBeneficiario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoBeneficiarioBeanView.baseDTO.beneficiarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="beneficiario" 
										title="#{msgProyectoBeneficiario.lblBeneficiario}"
										required="true"
										requiredMessage="#{msgProyectoBeneficiario.msg_req_beneficiario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgBeneficiario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="beneficiario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyecto" value="#{msgProyectoBeneficiario.lblProyecto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoBeneficiarioBeanView.baseDTO.proyectoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyecto" 
										title="#{msgProyectoBeneficiario.lblProyecto}"
										required="true"
										requiredMessage="#{msgProyectoBeneficiario.msg_req_proyecto}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyecto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyecto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{proyectoBeneficiarioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{proyectoBeneficiarioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtProyectoBeneficiario">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!proyectoBeneficiarioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{proyectoBeneficiarioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtProyectoBeneficiario">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{proyectoBeneficiarioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtProyectoBeneficiario" widgetVar="wvProyectoBeneficiarioTable"
							var="proyectoBeneficiario" value="#{proyectoBeneficiarioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtProyectoBeneficiario"
										fileName="proyectoBeneficiario" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtProyectoBeneficiario"
										fileName="proyectoBeneficiario" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtProyectoBeneficiario"
										fileName="proyectoBeneficiario" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtProyectoBeneficiario"
										fileName="proyectoBeneficiario" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:proyectoBeneficiarioDetail"
										oncomplete="PF('dlgProyectoBeneficiario').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{proyectoBeneficiario}"
											target="#{proyectoBeneficiarioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{proyectoBeneficiarioBeanView.actionModificarRegistro(proyectoBeneficiario)}"
										update=":formProyectoBeneficiario:pgForm,:formProyectoBeneficiario:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgProyectoBeneficiario.lbl_col_id}"
								filterBy="#{proyectoBeneficiario.id}" filterMatchMode="contains"
								sortBy="#{proyectoBeneficiario.id}">
								<h:outputText value="#{proyectoBeneficiario.id}" />
							</p:column>
							
							<p:column headerText="#{msgProyectoBeneficiario.lbl_col_beneficiario}">
								<h:outputText value="#{proyectoBeneficiario.beneficiarioDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgProyectoBeneficiario.lbl_col_proyecto}">
								<h:outputText value="#{proyectoBeneficiario.proyectoDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogProyectoBeneficiario" header="#{msgProyectoBeneficiario.detailTitle}"
							widgetVar="dlgProyectoBeneficiario" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="proyectoBeneficiarioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyectoBeneficiario.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeneficiarioBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyectoBeneficiario.lblBeneficiario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeneficiarioBeanView.baseDTO.beneficiarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyectoBeneficiario.lblProyecto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeneficiarioBeanView.baseDTO.proyectoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogBeneficiario" width="60%" 
							header="Beneficiario" widgetVar="dlgBeneficiario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="beneficiarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoBeneficiarioBeanView.beneficiarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoBeneficiarioBeanView.baseDTO.beneficiarioDTO}" />
									<ui:param name="update"
										value=":formProyectoBeneficiario:beneficiario" />
									<ui:param name="complete"
										value="PF('dlgBeneficiario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogProyecto" width="60%" 
							header="Proyecto" widgetVar="dlgProyecto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoBeneficiarioBeanView.proyectoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoBeneficiarioBeanView.baseDTO.proyectoDTO}" />
									<ui:param name="update"
										value=":formProyectoBeneficiario:proyecto" />
									<ui:param name="complete"
										value="PF('dlgProyecto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>