<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-proyectoTerritorio" var="msgProyectoTerritorio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgProyectoTerritorio['proyectoTerritorio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formProyectoTerritorio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgProyectoTerritorio['proyectoTerritorio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="territorio" value="#{msgProyectoTerritorio.lblTerritorio}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoTerritorioBeanView.baseDTO.territorioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="territorio" 
										title="#{msgProyectoTerritorio.lblTerritorio}"
										required="true"
										requiredMessage="#{msgProyectoTerritorio.msg_req_territorio}"
										disabled="#{proyectoTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgTerritorio').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="territorio" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="proyecto" value="#{msgProyectoTerritorio.lblProyecto}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoTerritorioBeanView.baseDTO.proyectoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="proyecto" 
										title="#{msgProyectoTerritorio.lblProyecto}"
										required="true"
										requiredMessage="#{msgProyectoTerritorio.msg_req_proyecto}"
										disabled="#{proyectoTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgProyecto').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="proyecto" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{proyectoTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{proyectoTerritorioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtProyectoTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!proyectoTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{proyectoTerritorioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtProyectoTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{proyectoTerritorioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtProyectoTerritorio" widgetVar="wvProyectoTerritorioTable"
							var="proyectoTerritorio" value="#{proyectoTerritorioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtProyectoTerritorio"
										fileName="proyectoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtProyectoTerritorio"
										fileName="proyectoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtProyectoTerritorio"
										fileName="proyectoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtProyectoTerritorio"
										fileName="proyectoTerritorio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:proyectoTerritorioDetail"
										oncomplete="PF('dlgProyectoTerritorio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{proyectoTerritorio}"
											target="#{proyectoTerritorioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{proyectoTerritorioBeanView.actionModificarRegistro(proyectoTerritorio)}"
										update=":formProyectoTerritorio:pgForm,:formProyectoTerritorio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgProyectoTerritorio.lbl_col_territorio}">
								<h:outputText value="#{proyectoTerritorio.territorioDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgProyectoTerritorio.lbl_col_proyecto}">
								<h:outputText value="#{proyectoTerritorio.proyectoDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogProyectoTerritorio" header="#{msgProyectoTerritorio.detailTitle}"
							widgetVar="dlgProyectoTerritorio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="proyectoTerritorioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyectoTerritorio.lblTerritorio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoTerritorioBeanView.baseDTO.territorioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyectoTerritorio.lblProyecto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoTerritorioBeanView.baseDTO.proyectoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogTerritorio" width="60%" 
							header="Territorio" widgetVar="dlgTerritorio"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="territorioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoTerritorioBeanView.territorioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoTerritorioBeanView.baseDTO.territorioDTO}" />
									<ui:param name="update"
										value=":formProyectoTerritorio:territorio" />
									<ui:param name="complete"
										value="PF('dlgTerritorio').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogProyecto" width="60%" 
							header="Proyecto" widgetVar="dlgProyecto"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoTerritorioBeanView.proyectoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoTerritorioBeanView.baseDTO.proyectoDTO}" />
									<ui:param name="update"
										value=":formProyectoTerritorio:proyecto" />
									<ui:param name="complete"
										value="PF('dlgProyecto').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>