<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-proyecto" var="msgProyecto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgProyecto['proyecto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formProyecto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgProyecto['proyecto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombre" value="#{msgProyecto.lblNombre}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.nombre}" 
										styleClass="form-control input-sm"
										id="nombre" 
										title="#{msgProyecto.lblNombre}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_nombre}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombre" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgProyecto.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{proyectoBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgProyecto.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgProyecto.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgProyecto.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{proyectoBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgProyecto.lblEstado}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgProyecto.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{proyectoBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="rolFundacion" value="#{msgProyecto.lblRolFundacion}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoBeanView.baseDTO.rolFundacionDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="rolFundacion" 
										title="#{msgProyecto.lblRolFundacion}"
										required="false"
										requiredMessage="#{msgProyecto.msg_req_rolFundacion}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgRolFundacion').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="rolFundacion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgProyecto.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgProyecto.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgProyecto.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgProyecto.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgProyecto.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgProyecto.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuario" value="#{msgProyecto.lblUsuario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoBeanView.baseDTO.usuarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="usuario" 
										title="#{msgProyecto.lblUsuario}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_usuario}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgUsuario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="usuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="iniciativa" value="#{msgProyecto.lblIniciativa}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{proyectoBeanView.baseDTO.iniciativaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="iniciativa" 
										title="#{msgProyecto.lblIniciativa}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_iniciativa}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgIniciativa').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="iniciativa" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgProyecto.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{proyectoBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgProyecto.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgProyecto.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="ppto" value="#{msgProyecto.lblPpto}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.ppto}" 
										styleClass="form-control input-sm"
										id="ppto" 
										title="#{msgProyecto.lblPpto}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_ppto}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="ppto" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="poblacionBeneficiaria" value="#{msgProyecto.lblPoblacionBeneficiaria}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.poblacionBeneficiaria}" 
										styleClass="form-control input-sm"
										id="poblacionBeneficiaria" 
										title="#{msgProyecto.lblPoblacionBeneficiaria}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_poblacionBeneficiaria}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="poblacionBeneficiaria" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="duracion" value="#{msgProyecto.lblDuracion}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.duracion}" 
										styleClass="form-control input-sm"
										id="duracion" 
										title="#{msgProyecto.lblDuracion}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_duracion}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="duracion" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgProyecto.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{proyectoBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgProyecto.lblId}"
										required="true"
										requiredMessage="#{msgProyecto.msg_req_id}"
										disabled="#{proyectoBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{proyectoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{proyectoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtProyecto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!proyectoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{proyectoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtProyecto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{proyectoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtProyecto" widgetVar="wvProyectoTable"
							var="proyecto" value="#{proyectoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtProyecto"
										fileName="proyecto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtProyecto"
										fileName="proyecto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtProyecto"
										fileName="proyecto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtProyecto"
										fileName="proyecto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:proyectoDetail"
										oncomplete="PF('dlgProyecto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{proyecto}"
											target="#{proyectoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{proyectoBeanView.actionModificarRegistro(proyecto)}"
										update=":formProyecto:pgForm,:formProyecto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgProyecto.lbl_col_nombre}"
								filterBy="#{proyecto.nombre}" filterMatchMode="contains"
								sortBy="#{proyecto.nombre}">
								<h:outputText value="#{proyecto.nombre}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_estado}"
								filterBy="#{proyecto.estadoDesc}"
								filterOptions="#{proyectoBeanView.estadoFilter}"
								sortBy="#{proyecto.estado}">
								<h:outputText value="#{proyecto.estado}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_usuario}"
								filterBy="#{proyecto.usuario.nombre}"
								filterMatchMode="contains"
								sortBy="#{proyecto.usuario.nombre}">
								<h:outputText value="#{proyecto.usuarioDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_iniciativa}"
								filterBy="#{proyecto.iniciativa.nombre}"
								filterMatchMode="contains"
								sortBy="#{proyecto.iniciativa.nombre}">
								<h:outputText value="#{proyecto.iniciativaDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_ppto}"
								filterBy="#{proyecto.ppto}" filterMatchMode="contains"
								sortBy="#{proyecto.ppto}">
								<h:outputText value="#{proyecto.ppto}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_poblacionBeneficiaria}"
								filterBy="#{proyecto.poblacionBeneficiaria}" filterMatchMode="contains"
								sortBy="#{proyecto.poblacionBeneficiaria}">
								<h:outputText value="#{proyecto.poblacionBeneficiaria}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_duracion}"
								filterBy="#{proyecto.duracion}" filterMatchMode="contains"
								sortBy="#{proyecto.duracion}">
								<h:outputText value="#{proyecto.duracion}" />
							</p:column>
							
							<p:column headerText="#{msgProyecto.lbl_col_id}"
								filterBy="#{proyecto.id}" filterMatchMode="contains"
								sortBy="#{proyecto.id}">
								<h:outputText value="#{proyecto.id}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogProyecto" header="#{msgProyecto.detailTitle}"
							widgetVar="dlgProyecto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="proyectoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblNombre}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.nombre}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblRolFundacion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.rolFundacionDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.usuarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblIniciativa}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.iniciativaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblPpto}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.ppto}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblPoblacionBeneficiaria}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.poblacionBeneficiaria}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblDuracion}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.duracion}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgProyecto.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{proyectoBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogRolFundacion" width="60%" 
							header="RolFundacion" widgetVar="dlgRolFundacion"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="rolFundacionDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoBeanView.rolFundacionLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoBeanView.baseDTO.rolFundacionDTO}" />
									<ui:param name="update"
										value=":formProyecto:rolFundacion" />
									<ui:param name="complete"
										value="PF('dlgRolFundacion').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogUsuario" width="60%" 
							header="Usuario" widgetVar="dlgUsuario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="usuarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoBeanView.usuarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoBeanView.baseDTO.usuarioDTO}" />
									<ui:param name="update"
										value=":formProyecto:usuario" />
									<ui:param name="complete"
										value="PF('dlgUsuario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogIniciativa" width="60%" 
							header="Iniciativa" widgetVar="dlgIniciativa"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="iniciativaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{proyectoBeanView.iniciativaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{proyectoBeanView.baseDTO.iniciativaDTO}" />
									<ui:param name="update"
										value=":formProyecto:iniciativa" />
									<ui:param name="complete"
										value="PF('dlgIniciativa').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>