<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-rolUsuario" var="msgRolUsuario"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgRolUsuario['rolUsuario-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formRolUsuario" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgRolUsuario['rolUsuario-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuario" value="#{msgRolUsuario.lblUsuario}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{rolUsuarioBeanView.baseDTO.usuarioDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="usuario" 
										title="#{msgRolUsuario.lblUsuario}"
										required="true"
										requiredMessage="#{msgRolUsuario.msg_req_usuario}"
										disabled="#{rolUsuarioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgUsuario').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="usuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="rol" value="#{msgRolUsuario.lblRol}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{rolUsuarioBeanView.baseDTO.rolDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="rol" 
										title="#{msgRolUsuario.lblRol}"
										required="true"
										requiredMessage="#{msgRolUsuario.msg_req_rol}"
										disabled="#{rolUsuarioBeanView.idInputDisabled}" 
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgRol').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="rol" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{rolUsuarioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{rolUsuarioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtRolUsuario">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!rolUsuarioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{rolUsuarioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtRolUsuario">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{rolUsuarioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtRolUsuario" widgetVar="wvRolUsuarioTable"
							var="rolUsuario" value="#{rolUsuarioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtRolUsuario"
										fileName="rolUsuario" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtRolUsuario"
										fileName="rolUsuario" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtRolUsuario"
										fileName="rolUsuario" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtRolUsuario"
										fileName="rolUsuario" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:rolUsuarioDetail"
										oncomplete="PF('dlgRolUsuario').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{rolUsuario}"
											target="#{rolUsuarioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{rolUsuarioBeanView.actionModificarRegistro(rolUsuario)}"
										update=":formRolUsuario:pgForm,:formRolUsuario:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgRolUsuario.lbl_col_usuario}">
								<h:outputText value="#{rolUsuario.usuarioDTO.baseDescription}" />
							</p:column>

							<p:column headerText="#{msgRolUsuario.lbl_col_rol}">
								<h:outputText value="#{rolUsuario.rolDTO.baseDescription}" />
							</p:column>

						</p:dataTable>

						<p:dialog id="dialogRolUsuario" header="#{msgRolUsuario.detailTitle}"
							widgetVar="dlgRolUsuario" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="rolUsuarioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgRolUsuario.lblUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{rolUsuarioBeanView.baseDTO.usuarioDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgRolUsuario.lblRol}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{rolUsuarioBeanView.baseDTO.rolDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogUsuario" width="60%" 
							header="Usuario" widgetVar="dlgUsuario"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="usuarioDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{rolUsuarioBeanView.usuarioLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{rolUsuarioBeanView.baseDTO.usuarioDTO}" />
									<ui:param name="update"
										value=":formRolUsuario:usuario" />
									<ui:param name="complete"
										value="PF('dlgUsuario').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogRol" width="60%" 
							header="Rol" widgetVar="dlgRol"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="rolDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{rolUsuarioBeanView.rolLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{rolUsuarioBeanView.baseDTO.rolDTO}" />
									<ui:param name="update"
										value=":formRolUsuario:rol" />
									<ui:param name="complete"
										value="PF('dlgRol').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>