<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-tipoTerritorio" var="msgTipoTerritorio"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgTipoTerritorio['tipoTerritorio-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formTipoTerritorio" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgTipoTerritorio['tipoTerritorio-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgTipoTerritorio.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{tipoTerritorioBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgTipoTerritorio.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgTipoTerritorio.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgTipoTerritorio.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoTerritorioBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgTipoTerritorio.lblId}"
										required="true"
										requiredMessage="#{msgTipoTerritorio.msg_req_id}"
										disabled="#{tipoTerritorioBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgTipoTerritorio.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{tipoTerritorioBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgTipoTerritorio.lblEstado}"
										required="true"
										requiredMessage="#{msgTipoTerritorio.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgTipoTerritorio.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{tipoTerritorioBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="valor" value="#{msgTipoTerritorio.lblValor}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoTerritorioBeanView.baseDTO.valor}" 
										styleClass="form-control input-sm"
										id="valor" 
										title="#{msgTipoTerritorio.lblValor}"
										required="true"
										requiredMessage="#{msgTipoTerritorio.msg_req_valor}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="valor" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgTipoTerritorio.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoTerritorioBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgTipoTerritorio.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgTipoTerritorio.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgTipoTerritorio.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{tipoTerritorioBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgTipoTerritorio.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgTipoTerritorio.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="zona" value="#{msgTipoTerritorio.lblZona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{tipoTerritorioBeanView.baseDTO.zonaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="zona" 
										title="#{msgTipoTerritorio.lblZona}"
										required="false"
										requiredMessage="#{msgTipoTerritorio.msg_req_zona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgZona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="zona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgTipoTerritorio.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{tipoTerritorioBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgTipoTerritorio.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgTipoTerritorio.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{tipoTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{tipoTerritorioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtTipoTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!tipoTerritorioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{tipoTerritorioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtTipoTerritorio">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{tipoTerritorioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtTipoTerritorio" widgetVar="wvTipoTerritorioTable"
							var="tipoTerritorio" value="#{tipoTerritorioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtTipoTerritorio"
										fileName="tipoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtTipoTerritorio"
										fileName="tipoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtTipoTerritorio"
										fileName="tipoTerritorio" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtTipoTerritorio"
										fileName="tipoTerritorio" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:tipoTerritorioDetail"
										oncomplete="PF('dlgTipoTerritorio').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{tipoTerritorio}"
											target="#{tipoTerritorioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{tipoTerritorioBeanView.actionModificarRegistro(tipoTerritorio)}"
										update=":formTipoTerritorio:pgForm,:formTipoTerritorio:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgTipoTerritorio.lbl_col_id}"
								filterBy="#{tipoTerritorio.id}" filterMatchMode="contains"
								sortBy="#{tipoTerritorio.id}">
								<h:outputText value="#{tipoTerritorio.id}" />
							</p:column>
							
							<p:column headerText="#{msgTipoTerritorio.lbl_col_estado}"
								filterBy="#{tipoTerritorio.estadoDesc}"
								filterOptions="#{tipoTerritorioBeanView.estadoFilter}"
								sortBy="#{tipoTerritorio.estado}">
								<h:outputText value="#{tipoTerritorio.estado}" />
							</p:column>
							
							<p:column headerText="#{msgTipoTerritorio.lbl_col_valor}"
								filterBy="#{tipoTerritorio.valor}" filterMatchMode="contains"
								sortBy="#{tipoTerritorio.valor}">
								<h:outputText value="#{tipoTerritorio.valor}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogTipoTerritorio" header="#{msgTipoTerritorio.detailTitle}"
							widgetVar="dlgTipoTerritorio" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="tipoTerritorioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblValor}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.valor}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblZona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.zonaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTipoTerritorio.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{tipoTerritorioBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogZona" width="60%" 
							header="Zona" widgetVar="dlgZona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="zonaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{tipoTerritorioBeanView.zonaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{tipoTerritorioBeanView.baseDTO.zonaDTO}" />
									<ui:param name="update"
										value=":formTipoTerritorio:zona" />
									<ui:param name="complete"
										value="PF('dlgZona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>