<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-trazaPresupuesto" var="msgTrazaPresupuesto"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgTrazaPresupuesto['trazaPresupuesto-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formTrazaPresupuesto" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgTrazaPresupuesto['trazaPresupuesto-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="anio" value="#{msgTrazaPresupuesto.lblAnio}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.anio}" 
										styleClass="form-control input-sm"
										id="anio" 
										title="#{msgTrazaPresupuesto.lblAnio}"
										required="true"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_anio}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="anio" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgTrazaPresupuesto.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{trazaPresupuestoBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgTrazaPresupuesto.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgTrazaPresupuesto.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{trazaPresupuestoBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgTrazaPresupuesto.lblEstado}"
										required="true"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgTrazaPresupuesto.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{trazaPresupuestoBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgTrazaPresupuesto.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgTrazaPresupuesto.lblId}"
										required="true"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_id}"
										disabled="#{trazaPresupuestoBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgTrazaPresupuesto.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgTrazaPresupuesto.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="linea" value="#{msgTrazaPresupuesto.lblLinea}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{trazaPresupuestoBeanView.baseDTO.lineaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="linea" 
										title="#{msgTrazaPresupuesto.lblLinea}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_linea}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgLinea').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="linea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgTrazaPresupuesto.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgTrazaPresupuesto.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="presupuestoEjecutado" value="#{msgTrazaPresupuesto.lblPresupuestoEjecutado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.presupuestoEjecutado}" 
										styleClass="form-control input-sm"
										id="presupuestoEjecutado" 
										title="#{msgTrazaPresupuesto.lblPresupuestoEjecutado}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_presupuestoEjecutado}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="presupuestoEjecutado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgTrazaPresupuesto.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{trazaPresupuestoBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgTrazaPresupuesto.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="presupuestoPlaneado" value="#{msgTrazaPresupuesto.lblPresupuestoPlaneado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{trazaPresupuestoBeanView.baseDTO.presupuestoPlaneado}" 
										styleClass="form-control input-sm"
										id="presupuestoPlaneado" 
										title="#{msgTrazaPresupuesto.lblPresupuestoPlaneado}"
										required="true"
										requiredMessage="#{msgTrazaPresupuesto.msg_req_presupuestoPlaneado}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="presupuestoPlaneado" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{trazaPresupuestoBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{trazaPresupuestoBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtTrazaPresupuesto">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!trazaPresupuestoBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{trazaPresupuestoBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtTrazaPresupuesto">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{trazaPresupuestoBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtTrazaPresupuesto" widgetVar="wvTrazaPresupuestoTable"
							var="trazaPresupuesto" value="#{trazaPresupuestoBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtTrazaPresupuesto"
										fileName="trazaPresupuesto" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtTrazaPresupuesto"
										fileName="trazaPresupuesto" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtTrazaPresupuesto"
										fileName="trazaPresupuesto" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtTrazaPresupuesto"
										fileName="trazaPresupuesto" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:trazaPresupuestoDetail"
										oncomplete="PF('dlgTrazaPresupuesto').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{trazaPresupuesto}"
											target="#{trazaPresupuestoBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{trazaPresupuestoBeanView.actionModificarRegistro(trazaPresupuesto)}"
										update=":formTrazaPresupuesto:pgForm,:formTrazaPresupuesto:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgTrazaPresupuesto.lbl_col_anio}"
								filterBy="#{trazaPresupuesto.anio}" filterMatchMode="contains"
								sortBy="#{trazaPresupuesto.anio}">
								<h:outputText value="#{trazaPresupuesto.anio}" />
							</p:column>
							
							<p:column headerText="#{msgTrazaPresupuesto.lbl_col_estado}"
								filterBy="#{trazaPresupuesto.estadoDesc}"
								filterOptions="#{trazaPresupuestoBeanView.estadoFilter}"
								sortBy="#{trazaPresupuesto.estado}">
								<h:outputText value="#{trazaPresupuesto.estado}" />
							</p:column>
							
							<p:column headerText="#{msgTrazaPresupuesto.lbl_col_id}"
								filterBy="#{trazaPresupuesto.id}" filterMatchMode="contains"
								sortBy="#{trazaPresupuesto.id}">
								<h:outputText value="#{trazaPresupuesto.id}" />
							</p:column>
							
							<p:column headerText="#{msgTrazaPresupuesto.lbl_col_presupuestoPlaneado}"
								filterBy="#{trazaPresupuesto.presupuestoPlaneado}" filterMatchMode="contains"
								sortBy="#{trazaPresupuesto.presupuestoPlaneado}">
								<h:outputText value="#{trazaPresupuesto.presupuestoPlaneado}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogTrazaPresupuesto" header="#{msgTrazaPresupuesto.detailTitle}"
							widgetVar="dlgTrazaPresupuesto" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="trazaPresupuestoDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblAnio}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.anio}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblLinea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.lineaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblPresupuestoEjecutado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.presupuestoEjecutado}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgTrazaPresupuesto.lblPresupuestoPlaneado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{trazaPresupuestoBeanView.baseDTO.presupuestoPlaneado}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogLinea" width="60%" 
							header="Linea" widgetVar="dlgLinea"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="lineaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{trazaPresupuestoBeanView.lineaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{trazaPresupuestoBeanView.baseDTO.lineaDTO}" />
									<ui:param name="update"
										value=":formTrazaPresupuesto:linea" />
									<ui:param name="complete"
										value="PF('dlgLinea').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>