<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/views/templates/template.xhtml">
		<ui:define name="head">
			<f:loadBundle basename="i18n.msg-usuario" var="msgUsuario"></f:loadBundle>
			<f:loadBundle basename="i18n.msg-pmz" var="msg"></f:loadBundle>
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{msgUsuario['usuario-titulo']}" />
		</ui:define>

		<ui:define name="content">
			<h:panelGroup layout="block" styleClass="container">
				<h:form id="formUsuario" styleClass="form-horizontal">
					<p:growl autoUpdate="true" life="10000" sticky="false" />
					<fieldset>
						<legend>
							<h:outputText value="#{msgUsuario['usuario-titulo']}"
								style="font-weight: bold" />
						</legend>

						<h:panelGroup layout="block" id="pgForm">

							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaModifica" value="#{msgUsuario.lblFechaModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{usuarioBeanView.baseDTO.fechaModifica}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaModifica" 
										title="#{msgUsuario.lblFechaModifica}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_fechaModifica}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="estado" value="#{msgUsuario.lblEstado}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<h:selectOneMenu
										value="#{usuarioBeanView.baseDTO.estado}" 
										styleClass="form-control input-sm"
										id="estado" 
										title="#{msgUsuario.lblEstado}"
										required="true"
										requiredMessage="#{msgUsuario.msg_req_estado}"
										>
									<f:selectItem itemLabel="#{msgUsuario.lblEstadoSelect}"
											itemValue="" />
										<f:selectItems value="#{usuarioBeanView.estadoList}"
											var="tp" itemLabel="#{tp.label}" itemValue="#{tp.value}" />
									</h:selectOneMenu>
								</div>
								<div class="col-sm-4">
									<p:message for="estado" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="nombreUsuario" value="#{msgUsuario.lblNombreUsuario}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{usuarioBeanView.baseDTO.nombreUsuario}" 
										styleClass="form-control input-sm"
										id="nombreUsuario" 
										title="#{msgUsuario.lblNombreUsuario}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_nombreUsuario}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="nombreUsuario" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="id" value="#{msgUsuario.lblId}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{usuarioBeanView.baseDTO.id}" 
										styleClass="form-control input-sm"
										id="id" 
										title="#{msgUsuario.lblId}"
										required="true"
										requiredMessage="#{msgUsuario.msg_req_id}"
										disabled="#{usuarioBeanView.idInputDisabled}" 
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="id" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioModifica" value="#{msgUsuario.lblUsuarioModifica}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{usuarioBeanView.baseDTO.usuarioModifica}" 
										styleClass="form-control input-sm"
										id="usuarioModifica" 
										title="#{msgUsuario.lblUsuarioModifica}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_usuarioModifica}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioModifica" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="persona" value="#{msgUsuario.lblPersona}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{usuarioBeanView.baseDTO.personaDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="persona" 
										title="#{msgUsuario.lblPersona}"
										required="true"
										requiredMessage="#{msgUsuario.msg_req_persona}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgPersona').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="persona" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="usuarioCrea" value="#{msgUsuario.lblUsuarioCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{usuarioBeanView.baseDTO.usuarioCrea}" 
										styleClass="form-control input-sm"
										id="usuarioCrea" 
										title="#{msgUsuario.lblUsuarioCrea}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_usuarioCrea}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="usuarioCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="fechaCrea" value="#{msgUsuario.lblFechaCrea}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
                                    <p:calendar
											value="#{usuarioBeanView.baseDTO.fechaCrea}"
											navigator="true" pattern="#{msg.pageDateFormat}"
										id="fechaCrea" 
										title="#{msgUsuario.lblFechaCrea}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_fechaCrea}"
										>
                                    </p:calendar>
								</div>
								<div class="col-sm-4">
									<p:message for="fechaCrea" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="cargo" value="#{msgUsuario.lblCargo}"
									styleClass="col-sm-2 control-label" />
                                <h:panelGroup layout="block" styleClass="form-group">
									<div class="col-sm-3">
									<p:inputText
										value="#{usuarioBeanView.baseDTO.cargoDTO.baseDescription}" 
										styleClass="form-control input-sm" readonly="true"
										id="cargo" 
										title="#{msgUsuario.lblCargo}"
										required="false"
										requiredMessage="#{msgUsuario.msg_req_cargo}"
										>
									</p:inputText>
									</div>
									<div class="col-sm-1">
									    <p:commandLink oncomplete="PF('dlgCargo').show()" process="@this">
										     <li class="glyphicon glyphicon-search" title="#{msg.LABEL_SELECCIONE}" />
									    </p:commandLink>
									</div>
									</h:panelGroup>
								<div class="col-sm-4">
									<p:message for="cargo" />
								</div>
							</h:panelGroup>


							<h:panelGroup layout="block" styleClass="form-group">
								<p:outputLabel for="contrasena" value="#{msgUsuario.lblContrasena}"
									styleClass="col-sm-2 control-label" />
								<div class="col-sm-4">
									<p:inputText 
										value="#{usuarioBeanView.baseDTO.contrasena}" 
										styleClass="form-control input-sm"
										id="contrasena" 
										title="#{msgUsuario.lblContrasena}"
										required="true"
										requiredMessage="#{msgUsuario.msg_req_contrasena}"
										>
									</p:inputText>
								</div>
								<div class="col-sm-4">
									<p:message for="contrasena" />
								</div>
							</h:panelGroup>

						</h:panelGroup>
						<p:outputPanel id="oppButtons">
							<h:panelGroup layout="block"
								styleClass="form-actions col-sm-offset-2 col-sm-5">
								<p:commandButton id="btn_save"
									rendered="#{usuarioBeanView.renderSaveEditButton}"
									value="#{msg.btnGuardar}"
									action="#{usuarioBeanView.btnActionGuardar}"
									update="pgForm,oppButtons,:formDataTable:dtUsuario">
								</p:commandButton>
								<p:commandButton id="btn_update"
									rendered="#{!usuarioBeanView.renderSaveEditButton}"
									value="#{msg.btnModificar}"
									action="#{usuarioBeanView.btnActionModificar}"
									update="pgForm,oppButtons,:formDataTable:dtUsuario">
								</p:commandButton>
								<p:commandButton id="btn_clear"
									value="#{msg.btnLimpiar}"
									action="#{usuarioBeanView.btnActionLimpiar}" process="@this"
									update="pgForm,oppButtons">
									<p:resetInput target="pgForm" />
								</p:commandButton>
							</h:panelGroup>
						</p:outputPanel>
					</fieldset>
				</h:form>
				<br />
				<fieldset>
					<h:form id="formDataTable">
						<p:dataTable id="dtUsuario" widgetVar="wvUsuarioTable"
							var="usuario" value="#{usuarioBeanView.lazyDataModel}"
							paginator="true" rows="10" lazy="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							rowsPerPageTemplate="5,10,25,50,100">
							
							<f:facet name="{Exporters}">
								<h:commandLink id="imgExcel">
									<p:graphicImage name="/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="dtUsuario"
										fileName="usuario" />
								</h:commandLink>

								<h:commandLink id="imgPdf">
									<p:graphicImage name="/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="dtUsuario"
										fileName="usuario" />
								</h:commandLink>

								<h:commandLink id="imgCsv">
									<p:graphicImage name="/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="dtUsuario"
										fileName="usuario" />
								</h:commandLink>

								<h:commandLink id="imgXml">
									<p:graphicImage name="/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="dtUsuario"
										fileName="usuario" />
								</h:commandLink>
							</f:facet>
							
							<p:column headerText="#{msg.lblAccion}" exportable="false">
								<h:panelGroup>
									<p:commandLink
										update=":formDataTable:usuarioDetail"
										oncomplete="PF('dlgUsuario').show()">
										<li class="glyphicon glyphicon-search" title="#{msg.lblDetalleRegistro}" />
										<f:setPropertyActionListener value="#{usuario}"
											target="#{usuarioBeanView.baseDTO}" />
									</p:commandLink>
									<p:commandLink
										actionListener="#{usuarioBeanView.actionModificarRegistro(usuario)}"
										update=":formUsuario:pgForm,:formUsuario:oppButtons"
										onsuccess="handleEditAction();">
										<li class="glyphicon glyphicon-pencil" title="#{msg.lblModificar}" />
									</p:commandLink>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msgUsuario.lbl_col_estado}"
								filterBy="#{usuario.estadoDesc}"
								filterOptions="#{usuarioBeanView.estadoFilter}"
								sortBy="#{usuario.estado}">
								<h:outputText value="#{usuario.estado}" />
							</p:column>
							
							<p:column headerText="#{msgUsuario.lbl_col_id}"
								filterBy="#{usuario.id}" filterMatchMode="contains"
								sortBy="#{usuario.id}">
								<h:outputText value="#{usuario.id}" />
							</p:column>
							
							<p:column headerText="#{msgUsuario.lbl_col_persona}"
								filterBy="#{usuario.persona.nombreUsuario}"
								filterMatchMode="contains"
								sortBy="#{usuario.persona.nombreUsuario}">
								<h:outputText value="#{usuario.personaDTO.baseDescription}" />
							</p:column>
							
							<p:column headerText="#{msgUsuario.lbl_col_contrasena}"
								filterBy="#{usuario.contrasena}" filterMatchMode="contains"
								sortBy="#{usuario.contrasena}">
								<h:outputText value="#{usuario.contrasena}" />
							</p:column>
							
						</p:dataTable>

						<p:dialog id="dialogUsuario" header="#{msgUsuario.detailTitle}"
							widgetVar="dlgUsuario" modal="true" showEffect="fade"
							position="center" width="600" hideEffect="fade" resizable="false"
							dynamic="true">
							<p:outputPanel id="usuarioDetail">

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblFechaModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.fechaModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblEstado}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.estadoDesc}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblNombreUsuario}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.nombreUsuario}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblId}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.id}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblUsuarioModifica}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.usuarioModifica}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblPersona}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.personaDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblUsuarioCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.usuarioCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblFechaCrea}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.fechaCrea}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblCargo}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.cargoDTO.baseDescription}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    

								<h:panelGroup layout="block" styleClass="form-group">
									<h:outputText value="#{msgUsuario.lblContrasena}:"
										styleClass="col-sm-4 control-label" />
									<div class="col-sm-6">
										<h:outputText value="#{usuarioBeanView.baseDTO.contrasena}"
											styleClass="form-control-static" style="white-space: pre-wrap"/>
									</div>
								</h:panelGroup>
    
							</p:outputPanel>
						</p:dialog>

                        <p:dialog id="dialogPersona" width="60%" 
							header="Persona" widgetVar="dlgPersona"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="personaDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{usuarioBeanView.personaLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{usuarioBeanView.baseDTO.personaDTO}" />
									<ui:param name="update"
										value=":formUsuario:persona" />
									<ui:param name="complete"
										value="PF('dlgPersona').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						

                        <p:dialog id="dialogCargo" width="60%" 
							header="Cargo" widgetVar="dlgCargo"
							modal="true" showEffect="fade" position="center"
							hideEffect="fade" resizable="false" dynamic="true">
							<p:outputPanel id="cargoDetail">

								<ui:include src="../general/entitytable.xhtml">
									<ui:param name="entityList"
										value="#{usuarioBeanView.cargoLazyDataModel}" />
									<ui:param name="entitySelected"
										value="#{usuarioBeanView.baseDTO.cargoDTO}" />
									<ui:param name="update"
										value=":formUsuario:cargo" />
									<ui:param name="complete"
										value="PF('dlgCargo').hide()" />
								</ui:include>
								
							</p:outputPanel>
						</p:dialog>
						
					</h:form>
				</fieldset>
			</h:panelGroup>
		</ui:define>

	</ui:composition>

</body>

</html>